<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/04HW20220207%EB%B0%95%ED%98%84%EC%9A%A918.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 211
# 함수의 호출 결과를 예측하라.
# def 함수(문자열) :
#  print(문자열)
# 함수("안녕")
# 함수("Hi")
def a(n) :
  print(n)
a("안녕")
a("Hi")

안녕
Hi

In [ ]:
#212
# 함수의 호출 결과를 예측하라.
# def 함수(a, b) :
#  print(a + b)
# 함수(3, 4)
# 함수(7, 8)

def k(a, b) :
  print(a + b)
k(3, 4)
k(7, 8)

7
15

In [ ]:
#213
# 아래와 같은 에러가 발생하는 원인을 설명하라.
# def 함수(문자열) :
#  print(문자열)
# 함수()
# TypeError: 함수() missing 1 required positional argument: '문자열'
#
print("정답 : 문자열 값을 지정하지 않았기에 에러가 발생")
def 함수(문자열) :
  print(문자열)
함수(1)

정답 : 문자열 값을 지정하지 않았기에 에러가 발생
1

In [ ]:
# 214
# 아래와 같은 에러가 발생하는 원인을 설명하라.
# def 함수(a, b) :
#  print(a + b)
# 함수("안녕", 3)
# TypeError: must be str, not int

##### 답 : a 값이 문자임으로 a+b는 성립 할 수 없는 문장임

In [ ]:
# 215
# 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는
# print_with_smile 함수를 정의하라

def print_with_smile(a,b=":D"):
  print(f"{a}{b}")

print_with_smile("안녕")

안녕:D

In [ ]:
# 216
# 215 에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라

def print_with_smile(a,b=":D"):
  print(f"{a}{b}")

print_with_smile("안녕하세요")

안녕하세요:D

In [ ]:
# 217
# 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

cost = int(input("가격입력 : "))

def print_upper_price(cost):
  print(f"{cost}원은 {cost*0.3}원 으로 상한가 30%입니다.")

print_upper_price(cost)

가격입력 : 10000
10000원은 3000.0원 으로 상한가 30%입니다.

In [ ]:
# 218
# 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라
num1 = int(input("정수1 입력:"))
num2 = int(input("정수2 입력:"))

def print_sum(num1,num2):
  # print(num1+num2) 방법1
  return num1+num2 #방법2
  
print(print_sum(num1,num2))

정수1 입력:1
정수2 입력:2
3

In [ ]:
# 219
# 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를
# 작성하라.
# print_arithmetic_operation(3, 4)
# 3 + 4 = 7
# 3 - 4 = -1
# 3 * 4 = 12
# 3 / 4 = 0.75

num1 = int(input("정수1 입력:"))
num2 = int(input("정수2 입력:"))

def print_sum(num1,num2):
  print(f"{num1} + {num2} = {num1+num2}")
  print(f"{num1} - {num2} = {num1-num2}")
  print(f"{num1} * {num2} = {num1*num2}")
  print(f"{num1} / {num2} = {num1/num2}")

print_sum(num1,num2)

정수1 입력:3
정수2 입력:4
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
# 220
# 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라
num1 = int(input("정수1 입력:"))
num2 = int(input("정수2 입력:"))
num3 = int(input("정수3 입력:"))

def print_sum(num1,num2,num3):
  
  if num1>=num2>=num3 :
    print(f"가장 큰 수는 {num1}입니다.")
  elif num1<=num2>=num3 :
    print(f"가장 큰 수는 {num2}입니다.")
  elif num1<=num2<=num3 :
    print(f"가장 큰 수는 {num3}입니다.")
  else :
    print("오류")

print_sum(num1,num2,num3)

정수1 입력:5
정수2 입력:66
정수3 입력:66
가장 큰 수는 66입니다.

In [ ]:
# 221
# 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.
# print_reverse("python")
# nohtyp
num1 = int(input("정수1 입력:"))
def print_reverse(num1) :
  
  for i in range(num1,0,-1) :
    print(i)

print_reverse(num1)

정수1 입력:5
5
4
3
2
1

In [ ]:
# 222
# 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
# print_score ([1, 2, 3])
# 2.0

def print_score(score_list) :
    print(sum(score_list)/len(score_list))

print_score ([1, 2, 3])

2.0

In [ ]:
# 223
# 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
# print_even ([1, 3, 2, 10, 12, 11, 15])
# 2
# 10
# 12

def print_even(score_list) :
  for i in score_list :
    if i%2 == 0 :
      print(i)


print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
# 224
# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를
# 정의하라.
# print_keys ({"이름":"김말똥", "나이":30, "성별":0})
# 이름
# 나이
# 성별


def print_keys(a) :
  for i in a.keys():
    print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
# 255
# my_dict 에는 날짜를 키값으로 OHLC 가 리스트로 저장돼 있다.
# my_dict = {"10/26" : [100, 130, 100, 100],
#  "10/27" : [10, 12, 10, 11]}
# my_dict 와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를
# 정의하라.
# print_value_by_key (my_dict, "10/26")
# [100, 130, 100, 100]

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]
}

def print_value_by_key(a,b):
  print(a[b])

print_value_by_key (my_dict,"10/26")

[100, 130, 100, 100]

In [ ]:
# 226
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.
# print_5xn("아이엠어보이유알어걸")
# 아이엠어보
# 이유알어걸

def print_5xn(a) :
  print(a[0:5])
  print(a[5:])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
# 227
# 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는
# print_mxn(string) 함수를 작성하라.
# printmxn("아이엠어보이유알어걸", 3)
# 아이엠
# 어보이
# 유알어
# 걸

def printmxn(a,b) :
   c = int(len(a) / b)
   for i in range(c+1) :
     print(a[i*b:i*b+b])
 
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
# 228
# 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
# 회사는 연봉을 12 개월로 나누어 분할 지급하며, 이 때 1 원 미만은 버림한다.
# calc_monthly_salary(12000000)
# 1000000

def calc_monthly_salary(a) :
  print(int(a/12))


calc_monthly_salary(12000000)

1000000

In [ ]:
# 229
# 아래 코드의 실행 결과를 예측하라.
# def my_print (a, b) :
#  print("왼쪽:", a)
#  print("오른쪽:", b)
# my_print(a=100, b=200)

# 왼쪽: 100
# 오른쪽: 200

In [ ]:
# 230
# 아래 코드의 실행 결과를 예측하라.
# def my_print (a, b) :
#  print("왼쪽:", a)
#  print("오른쪽:", b)
# my_print(b=100, a=200)

# 왼쪽: 200
# 오른쪽: 100