<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/05HW20220208%EB%B0%95%ED%98%84%EC%9A%A918.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 231
# 아래 코드를 실행한 결과를 예상하라.
# def n_plus_1 (n) :
#   result = n + 1
# n_plus_1(3)
# print(result)

# 결과 = 에러 // print(result) 는 def 안에 존재해야 값을 출력할 수 있음

In [ ]:
# 232
# 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
# make_url("naver")
# www.naver.com

def make_url (a) :
  a = "www.naver.com"
  print(a)

make_url("naver")

www.naver.com

In [ ]:
# 233
# 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.
# make_list("abcd")
# ['a', 'b', 'c', 'd']
b = []
def make_list(a):
  for i in a:
    b.append(i)
  print(b)   
make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
# 234
# 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는
# pickup_even 함수를 구현하라.
# pickup_even([3, 4, 5, 6, 7, 8])
# [4, 6, 8]
b=[]
def pickup_even(a):
  for i in a:
    if i%2 == 0 :
      b.append(i)
  print(b)
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [ ]:
# 235
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.
# convert_int("1,234,567")
# 1234567
b=0
def convert_int(a):
  return int(a.replace(',',''))

convert_int("1,234,567")

1234567

In [ ]:
# 236
# 아래 코드의 실행 결과를 예측하라.
# def 함수(num) :
#  return num + 4
# a = 함수(10)
# b = 함수(a)
# c = 함수(b)
# print(c)

# 정답 : 22   //최초 함수num에 10의 값이 들어가 14로 return
              # 이 후 a의 값이 14로 변환 num의 값에 14가 들어감. 18 return
              # 이 후 b의 값이 18로 변환 num의 값에 18이 들어감. 22 return
              # 따라서 c의 값이 22로 출력

In [ ]:
# 237
# 아래 코드의 실행 결과를 예측하라.
# def 함수(num) :
#  return num + 4
# c = 함수(함수(함수(10)))
# print(c)

# 정답 : 22 //함수10이 14로 리턴 두번째 함수는 14. 18로 return.
            # 세번째 함수18. 22로 리턴 따라서 c는 22

In [ ]:
# 238
# 아래 코드의 실행 결과를 예측하라.
# def 함수1(num) :
#   return num + 4
# def 함수2(num) :
#   return num * 10
# a = 함수1(10)
# c = 함수2(a)
# print(c)
# 정답 : 140 // a는 14로 return 함수2(num) 에는 14가 들어감 따라서 C는140

In [ ]:
# 239
# 아래 코드의 실행 결과를 예측하라.
# def 함수1(num) :
#  return num + 4
# def 함수2(num) :
#  num = num + 2
#  return 함수1(num)
# c = 함수2(10)
# print(c)

# 정답 : 16 // 함수2(10) 의 값으로 함수1(12) 이라는 것으로 return.
            #  따라서 c = 함수1(함수2(num)+4) 가 됨으로 16.

In [ ]:
# 240
# 아래 코드의 실행 결과를 예측하라.
# def 함수0(num) :
#  return num * 2

# def 함수1(num) :
#  return 함수0(num + 2)

# def 함수2(num) :
#  num = num + 10
#  return 함수1(num)

# c = 함수2(2)
# print(c)

# 정답 : 28// 함수2(2) 의 값으로 함수1(14) 이라는 것으로 return.
            # 함수1(14) 는 함수0(14) 로 대입되어 28 return
            # 따라서 c = 28.

In [ ]:
# 291 파일 쓰기
# 바탕화면에 '매수종목 1.txt' 파일을 생성한 후 다음과 같이 종목코드를 파일에 써보세요.
# 005930
# 005380
# 035420

a = open("C:\\Users\\PHY\\Desktop\\매수종목1.txt", mode="wt", encoding="utf-8")
a.write("005930\n")
a.write("005380\n")
a.write("035420")
a.close()

In [ ]:
# 292 파일 쓰기
# 바탕화면에 '매수종목 2.txt' 파일을 생성한 후 다음과 같이 종목코드와 종목명을 파일에
# 써보세요.
# 005930 삼성전자
# 005380 현대차
# 035420 NAVER

a = open("C:\\Users\\PY\\Desktop\\매수종목2.txt", mode="wt", encoding="utf-8")
a.write("005930 삼성전자")
a.write("005380 현대차")
a.write("035420 NAVER")
a.close()

In [ ]:
# 293 CSV 파일 쓰기
# 바탕화면에 '매수종목.csv' 파일을 생성한 후 다음과 같이 종목코드와 종목명을 파일에
# 써보세요. 인코딩은 'cp949'를 사용해야합니다.

import csv
f = open("C:\\Users\\PY\\Desktop\\매수종목.csv", mode="wt",encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [ ]:
# 294 파일 읽기
# 바탕화면에 생성한 '매수종목 1.txt' 파일을 읽은 후 종목코드를 리스트에 저장해보세요.
# 005930
# 005380
# 035420
f = open("C:\\Users\\PY\\Desktop\\매수종목 1.txt", encoding="utf-8")
lines = f.readlines()
codes = []
for line in lines:
  code = line.strip()
  codes.append(code)
print(codes)
f.close()

In [ ]:
# 295 파일 읽기
# 바탕화면에 생성한 '매수종목 2.txt' 파일을 읽은 후 종목코드와 종목명을 딕셔너리로
# 저장해보세요. 종목명을 key 로 종목명을 value 로 저장합니다.
# 005930 삼성전자
# 005380 현대차
# 035420 NAVER
f = open("C:\\Users\\PY\\Desktop\\매수종목 2.txt", encoding="utf-8")
lines = f.readlines()
data = {}
for line in lines:
  line = line.strip()
  k, v = line.split()
  data[k] = v
print(data)
f.close()

In [ ]:
# 296 예외처리
# 문자열 PER (Price to Earning Ratio) 값을 실수로 변환할 때 에러가 발생합니다. 예외처리를
# 통해 에러가 발생하는 PER 은 0 으로 출력하세요.
# per = ["10.31", "", "8.00"]
# for i in per:
#  print(float(i))

per = ["10.31", "", "8.00"]

for i in per:
 try :
   print(float(i))
 except : 
   print("0")

10.31
0
8.0

In [ ]:
# 297 예외처리 및 리스트에 저장
# 문자열로 표현된 PER 값을 실수로 변환한 후 이를 새로운 리스트에 저장해보세요.
# per = ["10.31", "", "8.00"]
# for i in per:
#  print(float(per))
per = ["10.31", "", "8.00"]
a = []
for i in per:
  try  :
    a.append(float(i))
  except :
    pass

print(a)

[10.31, 8.0]

In [ ]:
# 298 특정 예외만 처리하기
# 어떤 값을 0 으로 나누면 ZeroDivisionError 에러가 발생합니다. try ~ except 로 모든 에러에
# 대해 예외처리하지 말고 ZeroDivisionError 에러만 예외처리해보세요

a = int(input("정수를 입력하시오"))

def inp(a) :
  
  try : 
    a = a/0
    print(a)
  except ZeroDivisionError:
    print("잘못입력했습니다.")

inp(a)

정수를 입력하시오0
잘못입력했습니다.

In [ ]:
# 299 예외의 메시지 출력하기
# 다음과 같은 코드 구조를 사용하면 예외 발생 시 에러 메시지를 변수로 바인딩할 수
# 있습니다.
# try:
#  실행코드
# except 예외 as 변수:
#  예외처리코드
# 리스트의 인덱싱에 대해 에러를 출력해보세요.
# data = [1, 2, 3]
# for i in range(5)
#  print(data[i])
data = [1, 2, 3]
for i in range(5) :
  try:
    print(data[i])
  except IndexError as a:
    print(a)

1
2
3
list index out of range
list index out of range

In [ ]:
# 300 try, except, else, finally 구조 사용해보기
# 파이썬 예외처리는 다음과 같은 구조를 가질 수 있습니다.
# try:
#  실행 코드
# except:
#  예외가 발생했을 때 수행할 코드
# else:
#  예외가 발생하지 않았을 때 수행할 코드
# finally:
#  예외 발생 여부와 상관없이 항상 수행할 코드
# 아래의 코드에 대해서 예외처리를 사용하고 try, except, else, finally 에 적당한 코드를
# 작성해봅시다. else 와 finally 는 적당한 문구를 print 하시면 됩니다.
# per = ["10.31", "", "8.00"]
# for i in per:
#  print(float(per))


per = ["10.31", "", "8.00"]
b=1 #개인적 활용으로 추가

for i in per:
  
  try:
    print(f"이건 try {float(i)}")
  except:
    print("이건 (0) except 오류")
  else:
    print(f"이건 else 출력{i}")
  finally:
    print(f"{b}번째 finally 출력", '\n')
    b +=1 #개인적 활용으로 추가

이건 try 10.31
이건 else 출력10.31
1번째 finally 출력

이건 (0) except 오류
2번째 finally 출력

이건 try 8.0
이건 else 출력8.00
3번째 finally 출력