<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/08HW20220214%EB%B0%95%ED%98%84%EC%9A%A918.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 476. What will be the output after the following statements? 
# def xyz(): x = 40 abc() print(x) def abc(): a = 32 x = 10 xyz() 
# a. NameError b. 40 c. 10 d. 32 

# 정답 : b. 40

In [ ]:
# 477. What will be the output after the following statements? 
# def xyz(): x = 40 def abc(): xyz() a = 32 x = 10 print(x) abc() 
# a. NameError b. 40 c. 10 d. 32 

# 정답 : c. 10

In [ ]:
# 478. What will be the output after the following statements? 
# def abc(): print(x) x = 10 abc() 
# a. NameError b. x c. 10 d. 0 

# 정답 : a. NameError

In [ ]:
# 479. What will be the output after the following statements? 
# def abc(): x = 12 print(x) x = 10 abc() 
# a. NameError b. 12 c. 10 d. 0 

# 정답 : b. 12

In [ ]:
# 480. What will be the output after the following statements? 
# def abc(): x = 10 print(x) abc() 
x = 12 
# a. NameError b. 12 c. 10 d. 0

# 정답 : c. 10

In [ ]:
# 481. What will be the output after the following statements? 
# def abc(): global x x = 23 x = 10 abc() print(x) 
# a. NameError b. 23 c. 10 d. 0

# 정답 : c. 10

In [ ]:
# 482. What will be the output after the following statements? 
# def abc(): print(x) x = 10 abc() x = 20 
# a. NameError b. 20 c. 10 d. UnboundLocalError

# 정답 : d. UnboundLocalError

In [ ]:
# 483. What will be the output after the following statements? 
# def abc(x): return 20 / x print(abc(4))
# a. NameError b. 5 c. 5.0 d. ZeroDivisionError

# 정답 : b. 5

In [ ]:
# 484. What will be the output after the following statements? 
# def abc(x): return 20 / x print(abc(0)) 
# a. NameError b. Undefined c. 5.0 d. ZeroDivisionError

# 정답 : d. ZeroDivisionError

In [ ]:
# 485. What will be the output after the following statements? 
# def abc(x): try:print(20 / x)   except:print('Not a valid argument', end=' ') print(abc(0)) 
# a. NameError b. Not a valid argument c. Not a valid argument None d. ZeroDivisionError

# 정답 : c. Not a valid argument None

In [34]:
# 486. What will be the output after the following statements? 
# def abc(x): try: print(20 / x) except: print('Not a valid argument', end=' ') finally: print(0, end=' ') print(abc(0)) 
# a. Not a valid argument 0 None b. Not a valid argument c. Not a valid argument None d. ZeroDivisionError

# 정답 : a. Not a valid argument 0 None

In [ ]:
# 487. What will be the output after the following statements? 
# x = [1, 2, 3, 4] print(x[4])
# a. 4 b. 3 c. [1, 2, 3, 4] d. IndexError

# 정답 : d. IndexError

In [ ]:
# 488. What will be the output after the following statements? 
# x = [10, 20, 30, 40] print(x[20]) 
# a. 20 b. 30 c. [20] d. IndexError

# 정답 : d. IndexError

In [ ]:
# 489. What will be the output after the following statements? 
# x = [1.0, 2.0, 3.0] print(x[2.0]) 
# a. 2 b. 3.0 c. TypeError d. IndexError

# 정답 d. IndexError

In [40]:
# 490. What will be the output after the following statements? 
# x = [1.0, 2.0, 3.0] print(x[int(2.0)]) 
# a. 2 b. 3.0 c. TypeError d. IndexError

# 정답 : b. 3.0

3.0

In [ ]:
# 491. What will be the output after the following statements? 
# x = ['Today', 'nice', 'day'] print(x[0] + ' is a ' + x[1] + x[2]) 
# a. Today is a niceday b. Today is a nice day c. Todayis aniceday d. Todayisaniceday

# 정답 : a. Today is a niceday

In [ ]:
# 492. What will be the output after the following statements? 
# x = ['Today', 'Sunday', 'Monday'] print(x[0] + ' was a great day') 
# a. Today was a great day b. Sunday was a great day c. TypeError d. IndexError

# 정답 : a. Today was a great

In [ ]:
# 493. What will be the output after the following statements? 
# x = ['Today', 'Sunday', 'Monday']; print(x[-1] + ' was a great day')
# a. Today was a great day b. Sunday was a great day c. Monday was a great day d. IndexError

# 정답 :c. Monday was a great

In [ ]:
# 494. What will be the output after the following statements? 
# x = ['Today', 'Sunday', 'Monday']; print(x[-3] + ' was a great day')
# a. Today was a great day b. Sunday was a great day c. Monday was a great day d. IndexError

# 정답 : a. Today was a great day

In [ ]:
# 495. What will be the output after the following statements? 
# x = ['Today', 'Sunday', 'Monday'] x[2] = 'Friday' x[1] = 'Yesterday' print(x[-2] + ' was a great day')
# a. Friday was a great day b. Sunday was a great day c. Monday was a great day d. Yesterday was a great day

# 정답 :  d. Yesterday was a great day

In [53]:
# Algorithm Homework(#27)
# 홀수와 짝수의 개수를 구하는 func 함수를 만드세요.
# [3, 4, 5, 6, 7] = 홀수 3개, 짝수 2개
# [12, 16, 22, 24, 29] = 홀수 1개, 짝수 4개
# [41, 43, 45, 47, 49] = 홀수 5개, 짝수 0개
# 홀수 : 2로 나누어 떨어지지 않는 정수
# 짝수 : 2로 나누어 떨어지는 정수

def func(a) :
  countodd = 0
  countevenh = 0
  for i in a :
    if i%2 == 0 :
      countevenh = countevenh + 1
    elif i%2 != 0 :
      countodd = countodd + 1
  
  print(f"홀수의 갯수는 {countodd}")
  print(f"짝수의 갯수는 {countevenh}")

func([3, 4, 5, 6, 7])
func([12, 16, 22, 24, 29])
func([41, 43, 45, 47, 49])

홀수의 갯수는 3
짝수의 갯수는 2
홀수의 갯수는 1
짝수의 갯수는 4
홀수의 갯수는 5
짝수의 갯수는 0