<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/11HW20220217%EB%B0%95%ED%98%84%EC%9A%A918.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 536. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} for i in x.keys(): print(i, end=' ‘) 
# a. Sunday 10 b. day week c. Sunday d. 10 

# 정답 : b. day week

In [ ]:
# 537. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} for i in x.items(): print(i, end=' ‘) 
# a. ('day', 'Sunday') ('week', 10) b. day week c. ('week', 10) d. ('day', 'Sunday’) 

# 정답 : a. ('day', 'Sunday') ('week', 10)

In [ ]:
# 538. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} print(list(x.keys())) 
# a. Sunday 10 b. day week c. ['day', 'week'] d. (day, week) 

# 정답 : c. ['day', 'week']

In [ ]:
# 539. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} print(tuple(x.items())) 
# a. (('week', 10), ('day', 'Sunday')) b. ('day', 'Sunday') ('week', 10) c. ['day', 'week'] d. (day, week) 

# 정답 : ('day', 'Sunday') ('week', 10)

In [ ]:
# 540. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} print(tuple(x.values())) 
# a. Sunday 10 b. ('Sunday', 10) c. ['Sunday', 10] d. 10

# 정답 : b. ('Sunday', 10)

In [ ]:
# 541. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} for i, j in x.items():  print(i, j, end=' ')
# a. ('day', 'Sunday') ('week', 10) b. {'day':'Sunday', 'week':10} c. 'day':'Sunday', 'week':10 d. day Sunday week 10 

# 정답 : d. day Sunday week 10

In [ ]:
# 542. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} print('day' in x.values()) 
# a. Sunday b. True c. False d. day 

# 정답 : c. False

In [ ]:
# 543. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} print('day' in x.keys()) 
# a. Sunday b. True c. False d. day 

# 정답 : b. True

In [ ]:
# 544. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} print(x.get('day', 'Friday'))
# a. Friday b. True c. Sunday d. day 

# 정답 : c. Sunday

In [ ]:
# 545. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10} print(x.get('days', 'Friday'))
# a. Friday b. True c. Sunday d. day

# 정답 : a. Friday

In [ ]:
#546. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10}; print(x.get('weak', 5)) 
#a. 10 b. 5 c. Sunday d. day 5

# 정답 : b. 5

In [ ]:
#547. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10}; print(x.get('week', 5)) 
#a. 10 b. 5 c. Sunday d. day

# 정답 : a. 10

In [ ]:
#548. What will be the output after the following statements? 
# x = {'day':'Sunday', 'week':10}; print(x.get('year', 2016)) 
#a. year b. 2016 c. Sunday d. 10

#정답 : b. 2016

In [ ]:
#549. What will be the output after the following statements? 
# x = {'year': 2016, 'month': 'March'} if 'day' not in x: x['day'] = 'Tuesday' print(x) 
#a. ('day', 'Tuesday') b. {'day': 'Tuesday', 'month': 'March'} c. 'day': 'Tuesday', 'month': 'March', 'year': 2016 d. {'day': 
#'Tuesday', 'month': 'March', 'year': 2016}

# d. {'day': 'Tuesday', 'month': 'March', 'year': 2016} // 순서가 잘못되어있지만 내부 구성은 이와같다.

In [ ]:
# 550. What will be the output after the following statements? 
# x = {'year': 2016, 'month': 'March'} x.setdefault('day', 'Tuesday') print(x) 
# a. ('day', 'Tuesday') b. {'day': 'Tuesday', 'month': 'March'} c. 'day': 'Tuesday', 'month': 'March', 'year': 2016 d. {'day': 
# 'Tuesday', 'month': 'March', 'year': 2016}


# 정답 : d. {'day': 'Tuesday', 'month': 'March', 'year': 2016} // 순서가 잘못되어있지만 내부 구성은 이와같다.

In [14]:
# 551. What will be the output after the following statements? 
# x = {'year': 2016, 'month': 'March'} x.setdefault('day', 'Tuesday') x.setdefault('day', 'Monday') print(x) 
# a. ('day', 'Monday') b. {'day': 'Monday', 'month': 'March’} 
# c. {'day': 'Tuesday', 'month': 'March', 'year': 2016} d. {'day': 'Monday', 'month': 'March', 'year': 2016}

# 정답 : c. {'day': 'Tuesday', 'month': 'March', 'year': 2016} // 순서가 잘못되어있지만 내부 구성은 이와같다.

In [ ]:
#552. What will be the data type of x after the following statement? 
#x = {}
#a. Tuple b. Set c. List d. Dictionary

#정답 : d. Dictionary

In [16]:
# 553. What will be the output after the following statement? 
# print(r'Today is a \n nice day') 
# a. Today is a \n nice day b. Today is a nice day c. Today is a nice day d. 'Today is a \n nice day’ 

# wjdekq : d. 'Today is a \n nice day’

In [ ]:
# 554. What will be the output after the following statements? 
# x = 'python jobs' x.upper() print(x) 
# a. PYTHON JOBS b. Python jobs c. Python Jobs d. python jobs 

# 정답 : d. python jobs  # 중요! x 의 변수를 x = x.upper() 를 한 것이 아니기에 x에는 변동이 없다.

In [ ]:
# 555. What will be the output after the following statements? 
# x = 'Python Jobs' x.lower() print(x) 
# a. PYTHON JOBS b. Python jobs c. Python Jobs d. python jobs

# 정답 : b. Python jobs # 중요! 위 문제와 마찮가지로 x 의 변수를 x = x.upper() 를 한 것이 아니기에 x에는 변동이 없다.

In [ ]:
# Algorithm Homework(#31)
# 문자와 숫자가 섞인 문자열을 입력 받을 때 구별하여 출력하세요.
# input:
# "c910m6ia 1ho"
# output:
# str : cma ho
# int : 91061

a = "c910m6ia 1ho"
a1 = ""
no = ""
for i in a :
  if i.isalpha():
    a1 = a1 + i
  elif i.isdigit():
    no = no + i
  else :
    a1 = a1 + i
    
print(f"문자 : {a1}")
print(f"숫자 : {no}")

문자 : cmia ho
숫자 : 91061