<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/Day11_Craling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 벅스뮤직

import requests # 웹 페이지 연결모듈

In [16]:
from bs4 import BeautifulSoup as bs #읽어온 웹페이지를 분석하기위해 정제
              # (이 이름으로 재정리)

In [ ]:
import pandas #데이터 분석모듈

In [ ]:
html=requests.get("https://music.bugs.co.kr/chart") #해당 사이트 페이지 적용
# print(html.text)                                  #해당 사이트 페이지 코드 출력

In [18]:
soup = bs(html.text) # BeautifulSoup 을 통해 데이터를 분석하기 용이하게 정제한다.
# print(soup)

In [20]:
len(soup.select("tr")) # 사이트 확인 차트탕 tr그룹으로 묶여있음을 확인
                       # tr의 갯수를 조회
                       #top100을 확인하려 했으나 104개가 나옴

104

In [22]:
len(soup.select("tbody > tr")) # tbody 안에 있는 tr만을 찾는 방법
                               # top100을 확인하려 했으나 103개가 나옴

103

In [25]:
# len(soup.select("table > tbody > tr")) # table 안에 tbody 안에 있는 tr만을 찾는 방법
#                                        # 하지만 결과가 같다 동일한 table 가 많다는 것이니 좀더 자세히 특정해야한다.

len(soup.select("table.byChart > tbody > tr"))
                # 테이블.해당 "클래스명"(공백의 앞은 모두 삭제해도 괜찮다.#그게 더 정확할 수 있다.)
                # top100 을 확인.

100

In [31]:
# 확정된 top100 의 경로 값을 리스트로 정렬
songs = soup.select("table.byChart > tbody > tr")

songs[0] #리스트로 정렬된 노래 리스트의 정보를 확인

<tr albumid="20450649" artistid="80026437" multiartist="N" mvid="606198" rowtype="track" trackid="32466413">
<input name="_isStream" type="hidden" value="32466413"/>
<input name="_isDown" type="hidden" value="32466413"/>
<td class="check"><input buyminquality="T" disc_id="1" name="check" title="INVU" type="checkbox" value="32466413"/></td>
<td>
<div class="ranking">
<strong>1</strong>
<p class="change none"><em>0</em><span>변동없음</span></p>
</div>
</td>
<td>
<a class="thumbnail" href="https://music.bugs.co.kr/album/20450649?wl_ref=list_tr_07_chart" onclick="
">
<span class="mask"></span>
<img alt="INVU - The 3rd Album 대표이미지" onerror="bugs.utils.imgError(this);" src="https://image.bugsm.co.kr/album/images/50/204506/20450649.jpg?version=20220215002442.0"/>
</a>
</td>
<td>
<a class="trackInfo" href="https://music.bugs.co.kr/track/32466413?wl_ref=list_tr_08_chart" onclick="
">곡정보</a>
</td>
<th scope="row">
<p adult_yn="N" class="title">
<a adultcheckval="1" aria-label="새창" href="javascript:;" onclick="bugs.wiselog.area('list_tr_09_chart');bugs.music.listen('32466413',true);
" title="INVU">INVU</a>
</p>
</th>
<td class="left">
<p class="artist">
<a href="https://music.bugs.co.kr/artist/80026437?wl_ref=list_tr_10_chart" onclick="
" title="태연 (TAEYEON)">태연 (TAEYEON)</a>
</p>
</td>
<td class="left">
<a class="album" href="https://music.bugs.co.kr/album/20450649?wl_ref=list_tr_11_chart" onclick="
" title="INVU - The 3rd Album">INVU - The 3rd Album</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn play" href="javascript:;" onclick="bugs.wiselog.area('list_tr_12_chart');bugs.music.listen('32466413',true);
">듣기</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn addPlaylist" href="javascript:;" onclick="bugs.wiselog.area('list_tr_13_chart');bugs.music.listen('32466413');
">재생목록에 추가</a>
</td>
<td>
<a class="btn addAlbum" href="javascript:;" onclick="bugs.wiselog.area('list_tr_14_chart');bugs.music.addTrackToMyAlbum(this,'32466413');
" track_title="INVU">내 앨범에 담기</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn download flac" href="javascript:;" onclick="bugs.wiselog.area('list_tr_15_chart');bugs.layermenu.down(this,'32466413','true','true','44.1','false','', null );
"><em class="flac">flac </em>다운로드</a>
</td>
<td>
<a aria-label="새창" class="btn viewMV" href="javascript:;" onclick="bugs.wiselog.area('list_tr_16_chart');
bugs.layermenu.mv(this,32466413, 606198, 'Y', 'Y', 'Y', 'Y', 32466413, 'N','OVER_12', 'Y');
">영상 재생</a>
</td>
<td>
<a artist_disp_nm="태연 (TAEYEON)" artist_id="80026437" class="btnActions" href="javascript:;" layer_type="CHART" layerpositiontarget="td" onclick="bugs.wiselog.area('list_tr_17_chart');
bugs.layermenu.trackMoreAction(this,'32466413','0','20450649','bugs.music.listenRadioFromSeed(\'32466413\',\'track\');','N', 'Y', '_chart');
" track_title="INVU">기타 기능</a>
</td>
</tr>

In [46]:
# 가수

# 위 정보의 1위 내용 중 일부이다. 
# <p class="artist">
# <a href="https://music.bugs.co.kr/artist/80026437?wl_ref=list_tr_10_chart" onclick="
# " title="태연 (TAEYEON)">태연 (TAEYEON)</a>


# len(songs[0].select("a")) # 1위 노래의 a라고 지정된 그룹의 갯수를 확인
#                           # 11개임을 확인. 재특정 필요
# len(songs[0].select("p > a")) # p 내부의 a 로 재특정
#                               # 2개임을 확인. 재특정 필요

# len(songs[0].select("p.artist > a")) #p에서도 해당 클래스를 확인 1개임을 확인.

# singer = songs[0].select("p.artist > a")[0].text
#                                         # 이같은 내용 추가는 가수 이름만 뽑아내기 위함이다.
# print(singer)

In [69]:
# 노래

# song = songs[0].select("a.album")[0].text
# print(song)

# # 하지만 가수와 노래를 동시에 for문으로 돌리기 위해서는 같은 패턴의 변수지정이 좋다.
# title = songs[0].select("p.title > a")[0].text
# print(title)

# 타이틀 top 100
# song_data = []
# rank = 1
# for rank in range(101) :
#   singer = songs[rank-1].select("p.artist > a")[0].text
#   title = songs[rank-1].select("p.title > a")[0].text
#   rank=rank+1  
#   song_data.append([rank,title,singer])
# song_data

# #다른방법
song_data = []
rank = 1

songs = soup.select('table.byChart > tbody > tr')  # -> 최종 100 추출 완료

for song in songs:
  title = song.select('p.title > a')[0].text
  singer = song.select('p.artist > a')[0].text
  song_data.append([rank, title, singer])
  rank += 1

song_data

[[1, 'INVU', '태연 (TAEYEON)'],
 [2, '그래서 그래 (Feat. 윤하)', '에픽하이 (EPIK HIGH)'],
 [3, '그런 밤 (Some Nights)', '태연 (TAEYEON)'],
 [4, 'Dilemma', 'Apink (에이핑크)'],
 [5, 'Set Myself On Fire', '태연 (TAEYEON)'],
 [6, '어른아이 (Toddler)', '태연 (TAEYEON)'],
 [7, '우연처럼,인연처럼,운명처럼', '김기태'],
 [8, 'Timeless', '태연 (TAEYEON)'],
 [9, 'Siren', '태연 (TAEYEON)'],
 [10, '품 (Heart)', '태연 (TAEYEON)'],
 [11, 'Cold As Hell', '태연 (TAEYEON)'],
 [12, 'No Love Again', '태연 (TAEYEON)'],
 [13, '잊을 수 있을까', '노을'],
 [14, 'You Better Not', '태연 (TAEYEON)'],
 [15, '언제나 사랑해', '케이시'],
 [16, '너만 예뻐', '스탠딩 에그(Standing Egg)'],
 [17, "Stronger (What Doesn't Kill You)", 'Kelly Clarkson(켈리 클락슨)'],
 [18, 'Ending Credits', '태연 (TAEYEON)'],
 [19, 'SMILEY (Feat. BIBI)', 'YENA (최예나)'],
 [20, 'Prequel', '에픽하이 (EPIK HIGH)'],
 [21, 'Stay Alive (Prod. SUGA of BTS)', '정국'],
 [22, '대낮에 한 이별', '선예'],
 [23, '아무렇지 않은 척', '빅마마(Big Mama)'],
 [24, 'ELEVEN', 'IVE (아이브)'],
 [25, 'Rich Kids Anthem (Feat. 이하이)', '에픽하이 (EPIK HIGH)'],
 [26, 'BRB', '에픽하이 (EPIK HIGH)'],
 [27, 'Step Back', 'GOT the beat'],
 [28, "Can't Control Myself", '태연 (TAEYEON)'],
 [29, '취중고백', '김민석 (멜로망스)'],
 [30, 'abcdefu', 'GAYLE'],
 [31, 'Super Rare (Feat. Wonstein, pH-1)', '에픽하이 (EPIK HIGH)'],
 [32, '슬픈 연극 (금혼령 X 에일리 (Ailee))', '에일리(Ailee)'],
 [33, '사랑은 늘 도망가', '임영웅'],
 [34, '우리가 헤어져야 했던 이유', '비비(BIBI)'],
 [35, '너 아니면 안돼', '먼데이 키즈(Monday Kiz)'],
 [36, '서랍', '10CM'],
 [37, '넌 나에게', '기프트(GIFT)'],
 [38, 'DM', '프로미스나인'],
 [39, 'Dreams Come True', 'aespa'],
 [40, 'BOP BOP!', 'VIVIZ (비비지)'],
 [41, '드라마', '아이유(IU)'],
 [42, 'Christmas Tree', 'V'],
 [43, 'Next Level', 'aespa'],
 [44, 'strawberry moon', '아이유(IU)'],
 [45, 'Counting Stars (Feat. Beenzino)', "BE'O (비오)"],
 [46, '너, 너 (N번째 연애 X 휘인 (Whee In))', '휘인(Whee In)'],
 [47, '신호등', '이무진'],
 [48, '눈이 오잖아(Feat.헤이즈)', '이무진'],
 [49, 'Champagne', '에픽하이 (EPIK HIGH)'],
 [50, '비 오는 날 듣기 좋은 노래 (Feat. Colde)', '에픽하이 (EPIK HIGH)'],
 [51, '다정히 내 이름을 부르면', '경서예지'],
 [52, '회전목마 (Feat. Zion.T, 원슈타인) (Prod. Slom)', 'sokodomo'],
 [53, '겨울잠', '아이유(IU)'],
 [54, '여름비', '샘김(Sam Kim)'],
 [55, 'STAY', 'The Kid LAROI'],
 [56, '라일락', '아이유(IU)'],
 [57, '안녕, 잘 가', '원필(DAY6)'],
 [58, '가족관계증명서 (Feat. 김필)', '에픽하이 (EPIK HIGH)'],
 [59, 'OHAYO MY NIGHT', '디핵(D-Hack)'],
 [60, '리무진 (Feat. MINO) (Prod. GRAY)', "BE'O (비오)"],
 [61, 'Light Switch', 'Charlie Puth(찰리 푸스)'],
 [62, 'Butter', '방탄소년단'],
 [63, "I Hated Myself (Tablo's Word)", '에픽하이 (EPIK HIGH)'],
 [64, 'Savage', 'aespa'],
 [65, '너무 아픈 사랑은 사랑이 아니었음을', '싱어게인2 33호 가수'],
 [66, 'Off My Face', 'Justin Bieber(저스틴 비버)'],
 [67, 'Permission to Dance', '방탄소년단'],
 [68, '사랑하는 척', '바이브'],
 [69, '문득', "BE'O (비오)"],
 [70, 'Blueming', '아이유(IU)'],
 [71, 'Dynamite', '방탄소년단'],
 [72, '만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. TOIL)', '베이식(Basick)'],
 [73, 'WA DA DA', 'Kep1er (케플러)'],
 [74, 'Weekend', '태연 (TAEYEON)'],
 [75, 'Celebrity', '아이유(IU)'],
 [76, '낙하 (with 아이유)', 'AKMU(악뮤)'],
 [77, "Good Night (Feat. BE'O)", '쿠기 (Coogie)'],
 [78, 'My Universe', 'Coldplay(콜드플레이)'],
 [79, 'Face ID (Feat. GIRIBOY, Sik-K, JUSTHIS)', '에픽하이 (EPIK HIGH)'],
 [80, '흰눈', '먼데이 키즈(Monday Kiz)'],
 [81, '호랑수월가', '탑현'],
 [82, '너를 생각해', '주시크 (Joosiq)'],
 [83, '행운을 빌어 줘', '원필(DAY6)'],
 [84, 'HOLY MOLY', 'Apink (에이핑크)'],
 [85, '지우게', '원필(DAY6)'],
 [86, '너의 모든 순간', '성시경'],
 [87, 'Starlight', '태일 (TAEIL)'],
 [88, 'Bad Habits', 'Ed Sheeran(에드 시런)'],
 [89, 'Peaches (feat. Daniel Caesar, Giveon)', 'Justin Bieber(저스틴 비버)'],
 [90, '너는 내 세상이었어', '볼빨간사춘기'],
 [91, '모든 날, 모든 순간 (Every day, Every Moment)', '폴킴(Paul Kim)'],
 [92, '이별후회', '김나영'],
 [93, 'Queendom', 'Red Velvet (레드벨벳)'],
 [94, '바라만 본다', 'MSG워너비(M.O.M)'],
 [95, '에잇(Prod.&Feat. SUGA of BTS)', '아이유(IU)'],
 [96, '어떻게 이별까지 사랑하겠어, 널 사랑하는 거지', 'AKMU(악뮤)'],
 [97, '이등병의 DM', '임플란티드 키드 (Implanted Kid)'],
 [98, 'Tiny Riot', 'Sam Ryder'],
 [99, '언덕나무', '이승윤'],
 [100, '어른', 'Sondia']]

In [64]:
import pandas as pd #만든 리스트를 엑셀형식으로 재구성

df = pd.DataFrame(song_data, columns = ['순위','타이틀','가수'])
print(df)

     순위                        타이틀                        가수
0     1                       INVU              태연 (TAEYEON)
1     2          그래서 그래 (Feat. 윤하)          에픽하이 (EPIK HIGH)
2     3         그런 밤 (Some Nights)              태연 (TAEYEON)
3     4                    Dilemma              Apink (에이핑크)
4     5         Set Myself On Fire              태연 (TAEYEON)
..  ...                        ...                       ...
95   96  어떻게 이별까지 사랑하겠어, 널 사랑하는 거지                  AKMU(악뮤)
96   97                    이등병의 DM  임플란티드 키드 (Implanted Kid)
97   98                  Tiny Riot                 Sam Ryder
98   99                       언덕나무                       이승윤
99  100                         어른                    Sondia

[100 rows x 3 columns]

In [65]:
df.to_excel('bugs.xlsx', index=False)  #출력한 리스트를 엑셀로 저장

In [70]:
# 멜론 (코드는 jupyter 에서 처리)

In [71]:
# 지니 (코드는 jupyter 에서 처리)

In [78]:
# 001 Ask for the user's first name and display the output message
# (output) Hello [First Name]
# (input)   First Name :
a = input("First Name : ")
print(f"Hello {a} ")

First Name : py
Hello py

In [81]:
# 002 Ask for the user's first name and then as for their surname and display the output message
# (output) Hello [First Name] [Surname]
# (input) 'Please enter your surname : '
# (input) 'Please enter your firstname : '
a = input("Please enter your surname : ")
b = input("Please enter your firstName : ")

print(f"Hello {a} {b} ")

First Name : py
Surname : d3
Hello pyd3

In [84]:
# 003 Ask the user to enter two numbers. Add them together and display the answer as 
#(output) The total is [answer]
#(input) 'Please enter your first number : '
#(input) 'Please enter your second number : '
a = int(input("Please enter your first number : "))
b = int(input("Please enter your second number : "))

print(f"The total is {a+b}")

Please enter your first number : 1
Please enter your second number : 2
The total is 3

In [86]:
# 004 Ask how many slices of pizza the user started with and ask how many slices they have eaten.
# Work out how many slices they have left and display the answer in a user friendly format.

# (input) 'Enter the number of slices of pizza you started with : '
# (input) 'How many slices have you eaten? '
# (output) 'The answer is [ answer ]' 
a = int(input("Enter the number of slices of pizza you started with : "))
b = int(input("How many slices have you eaten? : "))

print(f"The answer is {a-b}")

Enter the number of slices of pizza you started with : 6
How many slices have you eaten? : 3
The answer is 3

In [102]:
#005 rite a program that will ask for a number of days and then will show
# how many hours, minutes and seconds are in that number of days.
# 일수를 입력 받아서 그 일수가 몇시간 몇분 몇초가 남았는지를 계산하시오

days = int(input("enter the number of day : "))
print(f'\tIn {days}, days there are...\n\t\t{days*24} hours,\n\t\t{days*24*60} minutes,\n\t\t{days*24*60*60} seconds')

enter the number of day : 2
	In 2, days there are...
		48 hours,
		2880 minutes,
		172800 seconds

In [111]:
#006 Task the user to enter a number over 100 and then enter a number 
# under 10 and tell them how many times the smaller number goes into the larger
# number in a user-friendly format.

# (input) 'Enter the number over 100 : '
# (input) 'Enter the number under 10 : '
# (output) '[smaller] goes into [larger] answer [times]'

over = int(input("Enter the number over 100 : "))
under = int(input("Enter the number under 10 : "))

print(f'{under} goes into {over} answer {over//under}times')
print(f'{under} goes into {over} answer {int(over/under)}times')

Enter the number over 100 : 105
Enter the number under 10 : 9
9 goes into 105 answer 11times
9 goes into 105 answer 11times

In [114]:
#005 Ask for two numbers. If the first one is larger than the second, display the second number first and
# then the first number, otherwise show the first number first and then the second.
f = int(input("Enter first number : "))
s = int(input("Enter second number : "))

if f>s :
  print(s,f)
else :
  print(f,s)

Enter first number : 3
Enter second number : 2
2 3

In [127]:
#006 Ask the user to enter a number between 10 and 20 If they enter a number within this range,
# display the message 'Thank you' otherwise display the message 'incorrect number'

f = int(input("Enter number : "))

if 21>f>9:
  print("Thank you")
else :
  print("incorrect number")

Enter number : 0
incorrect number

In [133]:
#007 Ask the user to enter their favorite color. If they enter 'red', 'RED' or 'Red'
# display the message ' I like red too', otherwise display the message 
# 'I dont like [color], I prefer red'.

f = input("Enter color : ")
t = ["RED","Red","red"]

if f in t :
    print('I like red too')

else :
  print("I dont like {f},I prefer red")

Enter color : red
I like red too

In [139]:
#008 Ask the user if it is raining and convert their answer to lower case 
# so it doesnt matter what case they type it in. If they answer 'yes',
# ask if it is windy. If they answer 'yes' to this second question,
# display the answer 'It is too windy for an umbrella', otherwise
# display the message 'Ta
# (output) 'It is too windy for an umbrella'
# (output) 'Take an umbrella'
# (output) 'Enjoy your day'.

f = input(" is it raining? : ")
f = f.lower()

if  f == "yes":
  w = input("Is it windy? : ")
  w = w.lower()
  if w == "yes":
    print('It is too windy for an umbrella')
  else :
    print('Take an umbrella')
    
else :
  print('Enjoy your day')

 is it raining? : YES
yes
Is it windy? : YES
It is too windy for an umbrella

In [145]:
#009 Ask the user's age. If they are 18 or over, display the message 'You can vote',
# if they are aged 17, display the message 'You can learn to drive', 
# if they are 16, display the message 'You can by a lottery ticket', 
# if they are under 16, display the message 'You can go Trick or Treating'

f = int(input(" what is your age : "))

if f >= 18:
  print("you can vote")
elif f == 17 :
  print("you can learn to dive")
elif f == 16 :
  print("You can by a lottery ticket")
else :
  print("You can go Trick or Treating")

 what is your age : 18
you can vote

In [149]:
#010 Ask the user to enter their name and then display the length of their name !
f = input(" name : ")
print(len(f))

 name : asdd
4

In [166]:
#011 Ask the user to enter their first name and lastname in lower case.
# Change the case to title case and join them together.
# Display the finished result.
# title case = 첫글자만 대문자

f = input(" enter your first name in lower case : ")
s = input(" enter your last name in lower case : ")

f = f[0].upper()+f[1:]
s = s[0].upper()+s[1:]

# f = f.title()
# s = s.title()
# or
# f = f.capitalize()
# s = s.capitalize()

# 설명
# capitalize() : 문장의 첫 단어의 첫 글자만 대문자로 바꾸는 경우에 사용.
# title() : 문장의 모든 단어의 첫 글자를 대문자로 바꾸는 경우에 사용.
# 주의사항) title()은 문자열에서 알파벳 외의 문자(숫자, 특수기호, 띄어쓰기 등)들을 기준으로 첫 글자를 대문자로 바꾼다.

name = f + " " + s
print(name)

 enter your first name in lower case : asd.
 enter your last name in lower case : xbxcvb
Asd. Xbxcvb

In [174]:
# Ask the user to enter their first name . If the length of their first name is under five characters,
# ask them to enter their last name and join them together (without a space) and 
# display the name in upper case. If the length of the first name is five or more characters,
# display their first name in lower case.

f = input(" enter your first name in lower case : ")

if len(f)< 5 :
  s = input(" enter your last name in lower case : ")
  fu = f+s
  print(fu.upper())
else :
  print(f.lower())

 enter your first name in lower case : aus
 enter your last name in lower case : you
AUSYOU

In [178]:
# pig Latin takes the first character of a word,
# moves it to the end of the word and adds on an 'ay'
# if a word begins with a vowel you just add 'way'to the end

# For example, pig becomes igpay, banana becomes ananabay, and aadvark becomes
# aaddvarkway. Create a program that will ask the user to enter a word and 
# change it into Pig Latin.

# 피그 라틴은 단어의 첫 글자가 자음이라면 단어의 맨 뒤로 이동하고 마지막에 'ay'를 추가한다.
# 만약 단어가  모음으로 시작한다면 단어의 끝에 그냥 "way" 붙인다.

# 자음 앞으로 뒤에 ay
# 모음 뒤로 way

t = input("string")
m = ["a","e","i","o","u"]
for i in t :
  if i in m :
    t = t+"way"
    break
  else :
    t = t[1:]+t[0]+"ay"
    break

print(t.lower())

# for문 비 사용시
# word = input('Please enter a word : ')
# first = word[0]
# length = len(word)
# rest = word[1:length]

# if first not in ['a','e','i','o','u']:  #모음 vowel
#   newword = rest + first + 'ay'
# else:
#   newword = word + 'way'

# print(newword.lower())

stringpig
igpay