<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/Day1-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#자료형 정수, 실수
a = int(43)
print(a)

b = float(1)
print(b)

c = float(True)
print(c)

d=float('3.14')
print(d)
print(type(d))
e = float('100')
print(e)

43
1.0
1.0
3.14
<class 'float'>
100.0

In [11]:
a=100
print(type(a))

<class 'int'>

In [15]:
# bool 논리 True or False
#값이 존재한다면 True 존재하지 않는다면(또는0이라면) False 
a =bool (0)
print(a)
b=bool()
print(b)
c= bool([])
print(c)
d=bool([100])
print(d)

False
False
False
True

In [18]:
#문자열 String
a='대한민국'
a="대한민국"
b= str(100)
print(type(b)) #문자열 str을 사용했기 때문에 100은 문자열로 표기됨

c=str(True)
print(c)
print(type(c)) #문자열 str을 사용했기 때문에 True은 문자열로 표기됨

<class 'str'>
True
<class 'str'>

In [28]:
# 문자열 인덱싱
# hello 라고 적을 시 o의 위치가 몇번째 인지를 알 수 있는것
# 파이썬에서 시작번호는 0이다.
# 따라서 o의 위치틑 4번이라고 할 수 있다.

s='hello'
print(s[4]) # o 의 위치가 4번이라는 것을 확인 할 수 있다.
# print(s[o]) 이와같은 입력값은 오류가 발생함.
print(s[-1]) # 번호를 역순으로 하더라도 사용이 가능하다. ㅜ
print(s[-5]==s[0])
ss = '990211-1005432'
print(ss[7])

o
o
True
1

In [32]:
#슬라이싱 방법
ss = '990211-1005432'
print(ss[0:2]) # 뒤에 붙은 숫자 "미만" 까지 출력인 된다는 것에 주의
print(ss[0:10:2]) # 0부터 10까지 2개씩 건너서 표현하는 구성이다. (2번째 문장이 출력됨.)

99
901-0

In [40]:
#print
print('"'+'Hello world'+'"')
print('Hello "world"')

"Hello world"
Hello "world"

In [49]:
print('Hello \'World\'')
print('Hello \n "World"')
 # ₩ 기호를 사용한다면 기존 의미를 무시하고 처리됨 해당 기호는 역슬래쉬로 대체가 가능함.
 # ₩n 는 줄바꿈
print('이름 \t 홍길동') #탭키라는 의미임
print('홍길동 \t 010-2020-2903')

Hello 'World'
Hello
 "World"
이름 	 홍길동
홍길동 	 010-2020-2903

In [51]:
print('재미있는','파이썬') #독립된 문자를 한 줄에 쓰는게 가능함을 할 수 있음

재미있는 파이썬

In [55]:
print('평점',end=':') # end= 을 사용할 시 다음 줄을 위로 땡겨 올 수 있음
print('5점')

평점:5점

In [59]:
print('국어','영어','수학')
print('국어','영어','수학',sep ='/') #중간에 비어있는 공간을 sep = 의 문자로 대체함.
print('국어','영어','수학',sep =',')
print('국어','영어','수학',sep ='') # 빈 공간으로 표기 할 시 붙여서 나옴
print('국어','영어','수학',sep ='\n') #원 기호의 해당 기능을 적용이 가능함.

국어 영어 수학
국어/영어/수학
국어,영어,수학
국어영어수학
국어
영어
수학

In [72]:
# %연산자
print(10)
print('%d' % 10)      # %d 를 표기한 위치에 10의 값을 넣어서 표기
                      # %d decimal 정수
print('%f' % 3.14)    # %f float 실수
print('%s' % '학생')  # %s string 문자열

# 사용예시
print('%d 을 입력하세요' % 10) # %s 처리해도 무방하다. 이유는 글자로 사용하고 있기 때문
print('원주율은 %f 입니다.' % 3.14) # %s 처리해도 무방하다. 이유는 글자로 사용하고 있기 때문
std ='대학생'
print('저는 %s 입니다' % std)
print('저는',std,'입니다')

10
10
3.140000
학생
10 을 입력하세요
원주율은 3.140000 입니다.
저는 대학생 입니다
저는 대학생 입니다

In [77]:
print("%d"  % 1)
print("%5d"  % 1) #빈칸 4개를 생성하게 된다 (숫자는 5번째 생성됨)
print("%-5d"  % 1) #뒷쪽에 빈칸 4개를 생성할 수 있게 된다.(숫자는 5번째 생성됨)
print("%5d"  % 11)
print("%-5d"  % 11)

1
    1
1
   11
11

In [89]:
print('원주율은 %f 입니다.' % 3.14)
print('원주율은 %5.2f 입니다.' % 3.14)  # 5개의 자리를 확보한 뒤 소수점 2자리 까지 처리 하는 방법
print('원주율은 %5.1f 입니다.' % 3.14)  # 자릿수는 실수 전체를 포함 한 채로 구성을 한다.
print('원주율은 %.2f 입니다.' % 3.14)   # 자릿수는 생략이 가능하다.

원주율은 3.140000 입니다.
원주율은  3.14 입니다.
원주율은   3.1 입니다.
원주율은 3.14 입니다.

In [91]:
name = 'kai'
print('내 이름은 %s 입니다.' % name)

내 이름은 kai 입니다.

In [103]:
height = 185.5
name = 'kai'
print('내 키는 %.1f 입니다.' % height)
print('내 키는 %s 입니다.' % height)
print('내 키는 %s이고 이름은 %s입니다.' % (height, name)) #여러개 처리를 할 때에는 괄호 안에 순번대로 처리한다.

내 키는 185.5 입니다.
내 키는 185.5 입니다.
내 키는 185.5이고 이름은 kai입니다.

In [107]:
#format() 매서드
zipcode = '06236'
height = 185.5
name = 'kai'
print('우편변호 : %s' % zipcode)
print('우편변호 : {}'.format(zipcode)) #이와같은 방법이 format의 사용 방식이다.
print('내 키는 {}이고 이름음 {} 입니다.'.format(height, name))

우편변호 : 06236
우편변호 : 06236
내 키는 185.5이고 이름음 kai 입니다.

In [116]:
print('My name is {}. I \'m {} years old.'.format('james',25))
print('My name is {1}. I \'m {0} years old.'.format(25,'james'))
print('My name is {name}. I \'m {age} years old.'.format(age=25,name='james'))

My name is james. I 'm 25 years old.
My name is james. I 'm 25 years old.
My name is james. I 'm 25 years old.

In [118]:
#f-strings 가장 많이 사용하는 기능
#파이썬 3.6 이후 부터 사용 가능
who = 'you'
how = 'happy'
print(f'') #f-strings 의 기본형태
print(f'{who} make me {how}')

you make me happy

In [122]:
age = float(25) #소수점을 포함해서 하고 싶다면 이러한 방식을 채택하면 된다.
print(f'내년에는 {age+1} 입니다') #f-strongs 는 연산도 가능하다.

내년에는 26.0 입니다

In [128]:
#입력 input() #이것은 자바에서 스캐너와 같은 역할을 한다고 볼 수 있다.
n = input()
print(f'당신이 입력한 내용은 {n} 입니다')
print('단신이 입력한 내용은',n,'입니다') #같은 형식이지만 f-srtings 가 효율은 좋다.

10
당신이 입력한 내용은 10 입니다
단신이 입력한 내용은 10 입니다

In [130]:
n = input('당신의 나이를 입력하세요') # 질문지를 input의 () 안에 적으면 표기를 할 수 있다.
print(f'당신이 입력한 내용은 {n} 입니다')
print('단신이 입력한 내용은',n,'입니다')

당신의 나이를 입력하세요30
당신이 입력한 내용은 30 입니다
단신이 입력한 내용은 30 입니다

In [132]:
#quiz 사용자로부터 키보드로 이름과 나이를 입력 받아서 한 줄로 출력하세요 
name = input('이름을 입력하세요')
age = input('나이를 입력하세요')
print(f'당신의 이름은{name} 이고 나이는 {age} 입니다')

이름을 입력하세요박현용
나이를 입력하세요35
당신의 이름은박현용 이고 나이는 35 입니다

In [141]:
name = input('이름을 입력하세요 : ') 
age = int(input('나이를 입력하세요 : ')) #input 으로 들어가는 모든 값은 str 값으로 지정됨
                                         #하지만 이러한 형변환으로 int 로 바꿀 수 있다.
print(f'당신의 이름은 {name} 이고 나이는 {age} 입니다') #f-strings 형태
print("당신의 이름은 %s 이고, 나이는 %s 입니다." % (name,age)) # % 형태
print("당신의 이름은 {} 이고, 나이는 {} 입니다.".format(name,age)) #format 형태
print("당신의 이름은",name,"이고, 나이는",age,"입니다") #기본형태
print(name, type(name))
print(age, type(age))

이름을 입력하세요 : ㅇ
나이를 입력하세요 : 1
당신의 이름은 ㅇ 이고 나이는 1 입니다
당신의 이름은 ㅇ 이고, 나이는 1 입니다.
당신의 이름은 ㅇ 이고, 나이는 1 입니다.
당신의 이름은 ㅇ 이고, 나이는 1 입니다
ㅇ <class 'str'>
1 <class 'int'>

In [156]:
#50000원 짜리 물건을 할부로 구입하고 매달 내는 금액을 계산하는 프로그램을 작성하시오
#할부 개월은 입력을 받아서 계산한다.

mun = int(input('할부 개월 입력 : '))
mun2 = round(50000/mun,2) # 이와같은 형태로 만들면 소수점 두자리까지 반올림이 된다

print(f'{mun} 개월 동안 매달 내는 금액은 {mun2} 입니다.')
print("%s 개월 동안 매달 내는 금액은 %s 입니다." % (mun,mun2)) 
print("{} 개월 동안 매달 내는 금액은 {} 입니다.".format(mun,mun2)) 
print(mun,'개월 동안 매달 내는 금액은',mun2 ,'입니다.')

할부 개월 입력 : 5
5 개월 동안 매달 내는 금액은 10000.0 입니다.
5 개월 동안 매달 내는 금액은 10000.0 입니다.
5 개월 동안 매달 내는 금액은 10000.0 입니다.
5 개월 동안 매달 내는 금액은 10000.0 입니다.

In [165]:
# 사용자로 부터 2개의 실수를 입력받아 합계를 구하는 프로그램
uaer = float(input('실수 1 : '))
uaer2 = float(input('실수 2 : '))
uaer3 =  (uaer+uaer2)

print(f'{uaer} 과 {uaer2}의 합계는 {uaer3} 입니다.')
print("%s 과 %s 의 합계는 %s 입니다." % (uaer,uaer2,uaer3))
print("{} 과  {} 의 합계는 {} 입니다.".format(uaer,uaer2,uaer3))
print(uaer, '과' , uaer2, '의 합계는' , uaer3, '입니다.')

실수 1 : 1
실수 2 : 2
1.0 과 2.0의 합계는 3.0 입니다.
1.0 과 2.0 의 합계는 3.0 입니다.
1.0 과  2.0 의 합계는 3.0 입니다.
1.0 과 2.0 의 합계는 3.0 입니다.