<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##############
#Review
##############
#Comment 주석 - 코드에 대한 설명, 컴퓨터는 읽지 않고 사람만 읽는 내용.
#               일부 코드를 감추고 싶을 때도 사용함.
#               본인이 기록한 내용을 나중에 확인할 때 또는 다른 팀원이 작성한 내용을 파악하기 용이하게 만든다.

# 온전한 주석은 #으로 표기한다 ('ctel + /')

# doc string (주석의 용도로도 쓰임)
'''
작성일 : 2022-01-26
담당자 : 박현용
비고 : 
'''
"""
작성일 : 2022-01-26
담당자 : 박현용
비고 : 
"""
#코드의 윗쪽 또는 오른쪽에 주석을 붙인다.
print('Hello World ') #코드의 우측 또는 코드의 윗줄에 적는다

#변수 Varoable
#어떤 값을 저장하는 저장소
a = 100
print(a)

stumathsum = 350
stu_mathsum = 350 # 스네이크 케이스 snake_case
StuMathSum = 350  # 캐멀 케이스 Came|Case

Hello World
100

In [ ]:
# 1a = 100 숫자가 먼저 올 수 없다.
a1 = 100
_a = 100 #_ 이외의 특수문자로는 변수를 만들 수 없다.

In [ ]:
홍길동 = 55
#한글 변수명은 사용이 가능하지만 쓰지 말자.

In [ ]:
# 인덱싱(슬라이싱)
s = 'world'
print(s[2]) #파이썬은 인덱스 시작이 0이다.
print(s[-1])#-1은 마지막 인덱스를 가리킨다.
print(s[4])
ss='900101-2547389'
print(ss[7]) #하나만 추출할 때는 indexing
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7]) # 이상 : 미만 #여러개를 추출할 때는 slicing

r
d
d
2
강남구

In [ ]:
#prtin
print('좋은 아침입니다')

좋은 아침입니다

In [ ]:
when = '아침'

print('좋은',when,'입니다')
print('좋은 %s 입니다.' % when)
print('좋은 {} 입니다'.format(when))
print(f'좋은 {when} 입니다.') # 이 코드가 가장 직관적인 코드

좋은 아침 입니다
좋은 아침 입니다.
좋은 아침 입니다
좋은 아침 입니다.

In [ ]:
##############
# 리스트List[] 튜플Tuple() 딕셔너리Dlct{} 셋set
##############
# 자료형/ 여러개의 값을 한번에 저장하는 자료형이 필요하다.
# 리스트 List
# 지금까지 사용한 숫자 1, 문자1 등 개별적, 독립적인 자료가 아닌
# 여러개를 모아서 사용할 수 있게 해준다.
# 리스트에 넣는 자료를 요소 element 라고 한다.
# 리스트는 []로 구성한다.
list = [1,2,3,4,5]
print(list)
#리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
list=[1,2,3,'대한','민국',True,False] #문자와 숫자를 동시에 사용하는 것은 에러의 확률이 높기에 권장하는 방법은 아니다.
print(list)
score = [80,90,70,60]
print(score[0])   #리스트는 인덱싱indexing과 슬라이싱slicing이 가능하다.
                  #파이썬은 0부터 시작한다.
print(score[0:2]) #슬라이싱은 0부터 2미만

#리스트는 수정/삭제 가 가능하다. (mutable) #튜플은 수정/삭제 가 불가능하다.(immitable)
score[0] = 100
print(score)
score[-1] = 100 # -1은 뒤에서 첫번째 라는 뜻
print(score)
# score[4] indexerror 이와같은 실수는 많이 접하게 될 에러이다.

#리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]
print ('list_a =',list_a)
print ('list_b =',list_b)
print (list_a + list_b) #이와같은 형태는 리스트간 병합을 의미한다.
print (list_a * 3) # 이와같은 형태는 해당 리스트를 곱셈으로 반복시킨다
print (len(list_a)) #리스트에 존재하는 값의 갯수를 확인하는 방법

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]
list_a = [1, 2, 3]
list_b = [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
2
[1, 2, 3]

In [ ]:
# 리스트에 많이 사용되는 함수들
# append() (굉장히 많이 사용됨) 리스트레 요소를 추가할 때 사용(끝에만 추가됨)

print(score)
score.append(60) #해당값을 리스트에 추가하는 방법
print(score)
score.append(70)
print(score)

[100, 90, 70, 100, 60, 60, 70]
[100, 90, 70, 100, 60, 60, 70, 60]
[100, 90, 70, 100, 60, 60, 70, 60, 70]

In [ ]:
# insert() 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하여 추가
list = []
list.insert(0,10) # ( 위치지정 : 변경 할 내용)
print(list)
list.insert(-1,50)
print(list)

[10]
[50, 10]

In [ ]:
list_a = [1,2,3]
list_a.extend([4,5,6]) #한 번에 여러개의 값을 넣을 때 쓰는 방식
print(list_a) #파괴적 처리

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b) #비 파괴적 처리
#이러한 방식은 결과를 보기만 할 뿐 list_a 자체가 변경 된 것은 아니다.(비 파괴적 처리)
#하지만 extend() 를 사용하면 list_a 에 직접적으로 영향을 주게된다.(파괴적처리)

#원래 자료를 사용할 때는 비 파괴적으로 사용하는 것이 바람직 하다.
#가능하면 원본 데이터를 그대로 유지하고 사용하는 것이 선택지가 더 넓다.

[1, 2, 3, 4, 5, 6]

In [ ]:
#del() 리스트에서 데이터 삭제
list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
print(list_a)
del list_a[1:3] # 순번상 1 이상 3 미만 삭제명령
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]
[0, 4, 5]

In [ ]:
# pop() 리스트에서 맨 오른쪽을 삭제 ** 매 실행 때 마다 값이 삭제됨
list_a.pop()
print(list_a)

[0]

In [ ]:
# remove 값으로 삭제 
list_c = [1,2,1,2] # remove 는 요소의 값을 찾아 삭제한다.
                   # 동일한 값이 여러개 있을 때는 하나씩 순차적으로 삭제한다.
                   # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다.
list_c.remove(2)
print(list_c )

[1, 1, 2]

In [ ]:
list = [1,2,3,4,5]
print(list[0]) #indexing 은 비 파괴적으로 동작한다.
print(list)

print(list.pop()) #pop 은 파괴적으로 동작한다. 프린트를 사용함으로 파괴되는 값이 표시됨
print(list)

1
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

In [ ]:
# in / not in 리스트에 존재하는 요소인지를 확인
list = [222,434,65,123,547,876]
print(222 in list) # 존재를 하는지 확인함. 존재함으로 True 가 뜸
list = [222,434,65,123,547,876]
print(221 in list)
print(221 not in list)# 부존재를 확인함. 존재하지 않음으로 True 가 뜸

True
False
True

In [ ]:
# 딕셔너리 Dict (java 의 map, JS 의 json 과 유사한 자료구조)
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키 값을 기반으로 값을 저장한다.

#{} 를 사용하여 데이터들을 저장한다.
#삽입/삭제 가 가능하다. mutable
#순서가 없음으로 인덱싱과 슬라이싱이 불가능하다.

dict = {
     "name" : "엔드 게임",
     "no" : 1,
     "type" : "히어로 무비",
     "ptice" : 10000
}
print(dict)
print(dict['name']) # 키 값으로 출력하는 방법

{'name': '엔드 게임', 'no': 1, 'type': '히어로 무비', 'ptice': 10000}
엔드 게임

In [ ]:
dict = {
     "감독" : ["안소니","루소"], #리스트를 넣을 수 있다.
     "배우" : ["타노스","토르","헐크"],
}
print(dict["감독"])

['안소니', '루소']

In [ ]:
dict = {#복합으로 사용도 가능하다.
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin' : '필리핀'
}
print('name :', dict['name'])
print('type :', dict['type'])
print('ingredient :', dict['ingredient'])
print('origin :', dict['origin'])
print('-----------------------------------')
dict['name'] = '망고'
print(dict['name'])
print(dict['ingredient'][2]) # 딕셔너리 내부 리스트에서 특정하여 출력하는 방법 dict[이름]][번호]
dict['price'] = 5000 # 딕셔너리에 추가하는 방법
print(dict)
dict['price'] = 4000 # 수정하는 방법은 중복 처리로 매꿀 수 있다.
print(dict)
del dict['price'] # 삭제하는 방법
print(dict)

name : 건조 망고
type : 절임 과일
ingredient : ['망고', '설탕', '색소']
origin : 필리핀
-----------------------------------
망고
색소
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 4000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [ ]:
# dict에 값을 추가하는 방법
dict = {}
dict['name'] ='새이름'
dict['height'] = 185
dict['welght'] = 75
print(dict)
del dict['welght']
print(dict)

{'name': '새이름', 'height': 185, 'welght': 75}
{'name': '새이름', 'height': 185}

In [ ]:
# dict 에서 자주 등장하는 에러(예외)
# keyError 리스트에서 없는 인덱스에 접근하여고 하면 indexError 가 발생되는 것처럼
#          딕에서도 존재하지 않는 키 값을 사용하면 예외 또는 에러를 발생시킨다.

# dict = {
#     'name' : '건조 망고',
#     'type' : '절임 과일',
#     'ingredient' : ['망고','설탕','색소'],
#     'origin' : '필리핀'
# }
# dict['감독']
# 이와 같은 형태로 실행을 했을 시 keyError 가 발생을 한다.

In [ ]:
# 입력을 받아 dict에서 내용을 삭제하는 방법
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin' : '필리핀'
}

key = input('>삭제를 원하는 데이터의 키값을 입력하세요 : ')

if key in dict :
  del dict[key]
else:
  print('존재하지 않은 키에 접근 하고 있습니다.')

print(dict)

>삭제를 원하는 데이터의 키값을 입력하세요 : ㅇㅇ
존재하지 않은 키에 접근 하고 있습니다.
{'name': '건조 망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [ ]:
# #중복에 관하여
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin' : '필리핀',
    'name' : '말린 망고'
}
print(dict)
# 이와 같은 형태는 중복이 발생함 으로 마지막 중복인 name 만이 성립된다

{'name': '말린 망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [ ]:
# 튜플 tuple
# () 를 사용하여 작성한다.
# 리스트와 거의 대부분 유사하나, 튜플른 삽입, 수정 등이 불가능 하다. immutable
# 튜플은 1개의 원소로 작성할 때는 , 를 삽입한다. (1,) 하지만 두개 일 때부터는 정상적으로 표기한다.(1,2)
# 튜플은 괄호를 생략 할 수 있다. ** 위 , 가 사용되어야 하는 이유이다.

t = (1,2)
print(t)
print(type(t))
t2 = 3, 4
print(t2)
print(type(t2))

t3 = (5) #(5) == 5 이기 때문에 int가 된다.
print(t3)
print(type(t3))

t4 = 5, #괄호의 생략이 가능하다.
print(t4)
print(type(t4))

(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
5
<class 'int'>
(5,)
<class 'tuple'>

In [ ]:
t = (1,2,3,4,5)
#t[0] = 8 튜플른 수정이 불가능하다. immitable
# del t[0] 튜플은 삭제가 불가능하다 immitable

In [ ]:
t = (1,2,3,4,5)
print(t[0])
print(t[1]) #튜플은 indexing 이 가능하다.
print(t[2:])#튜플은 slicing 이 가능하다.

1
2
(3, 4, 5)

In [ ]:
t = (1,2,3,4,5)
t2 = (6,7,8,9)
print(t+t2) # 튜플은 수정이 아닌 비 파괴적 출력은 가능하다.
print(t)
print(t2)
print(t*3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5)
(6, 7, 8, 9)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
from typing import MutableMapping
# Set 집합
# {} 를 사용하여 작성한다
# 중복을 허용하지 않는다.
# 순서가 없다. unordered 리스트나 튜플은 순사가 있기 때문에 ordered 인덱싱과 슬라이싱을 통해
# 값을 꺼낼 수 있지만 dict 와 set 은 순서가 없어 불가능하다.
# 중복을 허용하지 않는다는 특성을 활용하여 중복제거 필터용으로 많이 사용된다.
# set 자료형에 저장된 값을 써내려면 리스트나 튜플로 변환하여 사용한다.
# Mutable 수정/삭제가 가능하다

set = {1,1,2,2,2,3,4} # 중복은 모두 자동으로 쳐내진다
print(set)
# print(set[0]) #이와같은 형태로 셋에 내부에 있는 숫자를 빼낼 수 없다.

{1, 2, 3, 4}

In [ ]:
# set를 만드는 다른 방법
s1 = set([1,2,2,3,3])
print(s1)
print('s1의 타입 : ',type(s1))
li = list(s1) # 리스트로 형 변환을 통해서 부분 출력을 가능케 바꿀 수 있다.
print(type(li))
print(li)
print('리스트로 변환 0번째 출력값 :', li[0])

{1, 2, 3}
s1의 타입 :  <class 'set'>
<class 'list'>
[1, 2, 3]
리스트로 변환 0번째 출력값 : 1

In [ ]:
#집합계산
set1 ={1,2,3}
set2 ={2,3,4}
print(type(set1))
print(type(set2))
# 양쪽 집합 모두 포함되는 원소 -> 교집합
print(set1 & set2) 
print(set1.intersection(set2))

# 양쪽 집합의 모든 원소 -> 합집합 이지만 여전히 중복은 걸러짐
print(set1 | set2)
print(set1.union(set2)) 

#두개 집합의 차 -> 차집합
print(set1 - set2)
print(set1.difference(set2))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}

In [ ]:
# set의 수정과 삭제
set1 = {1,2,3}
print(set1)

# 하나만 추가하는 방법
set1.add(4)
print(set1)

# 여러개를 동시에 추가하는 방법
set1.update([5,6,7,8])
print(set1)

# 삭제하는 방법 (단, set는 순서가 없기 때문에 해당하는 값을 지정해서 삭제해야한다.)
set1.remove(4)
print(set1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [ ]:
# Q1. 예시) 학번을 입력하세요 >> 31025 // 출력 3학년 10반 25번
sn = input('학번을 입력하시오')
print(f'{sn[0]}학년{sn[1:3]}반 {sn[3:]}번')

학번을 입력하시오31025
3학년10반 25번

In [ ]:
# Q2 입력) 차량번호를 입력하세요 >> 서울2가1234
        #  차량번호를 입력하세요 >> 288가1233
#  출력) 서울2가 1234의 차량번호 끝자리 4자리는 1234입니다.     
car_num = input('차량번호를 입력하시기 바랍니다.')
print(f'{car_num} 의 끝자리 번호는 {car_num[-4:]}')

차량번호를 입력하시기 바랍니다.555ㄴ6ㅇ54
555ㄴ6ㅇ54 의 끝자리 번호는 6ㅇ54

In [ ]:
# Q3 홀수 갯수의 문자열을 입력받아 가운데 글자를 추출하는 프로그램을 구현하시오
tt = input('글자를 홀수로 입력하시오')
print(len(tt))
tt2 = int(len(tt)/2)
# tt2 = int(int(len(tt)//2)) # 몫만 추출
# tt2 = int(int(len(tt)%2))  # 나머지만 추출(홀수 짝구 배수)
print('문자열의 가운데 숫자는',tt[tt2])

글자를 홀수로 입력하시오ㅁㄴㅇㅀ
4
문자열의 가운데 숫자는 ㅇ

In [ ]:
# [1,2,3,4,5,6,7,8,9] 의 3번째 '요소'부터 7번째 요소만 추출한 결과에서 2번째 요소를 출력하는 프로그램을 구현하세요
a = [1,2,3,4,5,6,7,8,9]
print(a[2:7][1]) #출력된 부분에서 출력을 하는 방법

4

In [ ]:
##############
# if
##############
# 특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라저야 할 때 사용된다
# 날씨가 맑으면 소풍을 가고 아니면 공부를 한다.

# if 조건식 : 
#   만족할 때 실행 코드
# else : 
#   만족하지 못할 때 실행 코드

# if 맑으면:
#   소풍을 간다
# else :
#   공부를 한다.

if True:
  print('만족')
else :
  print('불만족')

만족

In [ ]:
age = int(input('나이를 입력하세요 : '))

if age >= 18 :
 print('당신은 성인입니다.')
else : 
 print('당신은 성인이 아닙니다.')

나이를 입력하세요 : 19
당신은 성인입니다.

In [ ]:
# if 문 이 후에 추가는  elif 을 사용하며, else 로 끝을 낸다
age = int(input('나이를 입력하세요 : '))

if age < 10 :
 print('당신은 유아 입니다.')
elif age < 20 : 
 print('당신은 10대 입니다.')
elif age < 30 : 
 print('당신은 20대 입니다.')
elif age < 40 : 
 print('당신은 30대 입니다.')
elif age < 50 : 
 print('당신은 40대 입니다.')
elif age < 60 : 
 print('당신은 50대 입니다.')
elif age < 70 : 
 print('당신은 60대 입니다.')
else : 
 print('당신은 노인 입니다..')

나이를 입력하세요 : 40
당신은 40대 입니다.

In [ ]:
# # Q. 입력) 당신의 점수를 입력하세요 : 95
# # 출력) 당신의 점수는 ?? 점 이고, 학점은 A 학점 입니다.
# # )))) 수정해야함
num = int(input('당신의 점수를 입력하세요 : '))

if -1 < num > 100 :
 print('잘못입력했습니다.')
 num2 = '오류'
elif num >=90 : 
 num2 = 'A'
elif num >=89 : 
 num2 = 'B'
elif num >=79 : 
 num2 = 'C'
elif num >=67 : 
 num2 = 'D'
else : 
 num2 = 'F'
 
print(f'당신의 점수는{num2}입니다.')

당신의 점수를 입력하세요 : 88
당신의 점수는C입니다.

In [ ]:
# # 임의의 정부를 입력 받아서 그 수가 3의 배수인지를 확인하는 프로그램을 작성하시오
# #  (입력) 정수를 입력하세요 : 14
# #  (출력) 14는 3의 배수가 아닙니다.
# #  (입력) 정수를 입력하세요 : 15
# #  (출력) 15는 3의 배수입니다.
# tt2 = int(int(len(tt)//2)) # 몫만 추출
# tt2 = int(int(len(tt)%2))  # 나머지만 추출(홀수 짝구 배수)

r = int(input("정수입력 : "))

if r%2 == 0 :
  a = "아닙니다."
else :
  a = "맞습니다."

print(f'{r}은 3의 배수가 {a}')

정수입력 : 15
15은 3의 배수가 맞습니다.

In [ ]:
# 정수 3개를 입력 받아서 그 중에서 가장 큰수를 찾아 츌력하는 프로그램
# 정수1입력>3
# 정수2입력>1
# 정수3입력>2
# 가장 큰 수는 3입니다.
n1 = int(input('정수 3개를 입력하시기 바랍니다.'))
n2 = int(input(''))
n3 = int(input(''))

if n1> n2 & n1 > n3 :
  best = n1
elif n1 < n2 & n1 < n3 :
  best = n2
else :
  best = n3

print(best)

정수 3개를 입력하시기 바랍니다.1
2
3
3

In [12]:
#dict 의 기능 메모 예시)
# fromkeys // b의 값을 각각의 key 값에 모두 각각 넣는다.
a = ("apple", "pear", "peach")
b = (300, 250, 400)
t = dict.fromkeys(a,b)
print(t)

{'apple': (300, 250, 400), 'pear': (300, 250, 400), 'peach': (300, 250, 400)}

In [10]:
# zip
# b의 값을 key 와 순서대로 values 값으로 넣는다.
a = ("apple", "pear", "peach")
b = (300, 250, 400)
t = dict(zip(a,b))
print(t)

{'apple': 300, 'pear': 250, 'peach': 400}