<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##############
#Review
##############
#Comment 주석 - 코드에 대한 설명, 컴퓨터는 읽지 않고 사람만 읽는 내용.
#               일부 코드를 감추고 싶을 때도 사용함.
#               본인이 기록한 내용을 나중에 확인할 때 또는 다른 팀원이 작성한 내용을 파악하기 용이하게 만든다.

# 온전한 주석은 #으로 표기한다 ('ctel + /')

# doc string (주석의 용도로도 쓰임)
'''
작성일 : 2022-01-26
담당자 : 박현용
비고 : 
'''
"""
작성일 : 2022-01-26
담당자 : 박현용
비고 : 
"""
#코드의 윗쪽 또는 오른쪽에 주석을 붙인다.
print('Hello World ') #코드의 우측 또는 코드의 윗줄에 적는다

#변수 Varoable
#어떤 값을 저장하는 저장소
a = 100
print(a)

stumathsum = 350
stu_mathsum = 350 # 스네이크 케이스 snake_case
StuMathSum = 350  # 캐멀 케이스 Came|Case

Hello World
100

In [2]:
# 1a = 100 숫자가 먼저 올 수 없다.
a1 = 100
_a = 100 #_ 이외의 특수문자로는 변수를 만들 수 없다.

In [3]:
홍길동 = 55
#한글 변수명은 사용이 가능하지만 쓰지 말자.

In [4]:
# 인덱싱(슬라이싱)
s = 'world'
print(s[2]) #파이썬은 인덱스 시작이 0이다.
print(s[-1])#-1은 마지막 인덱스를 가리킨다.
print(s[4])
ss='900101-2547389'
print(ss[7]) #하나만 추출할 때는 indexing
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7]) # 이상 : 미만 #여러개를 추출할 때는 slicing

r
d
d
2
강남구

In [5]:
#prtin
print('좋은 아침입니다')

좋은 아침입니다

In [6]:
when = '아침'

print('좋은',when,'입니다')
print('좋은 %s 입니다.' % when)
print('좋은 {} 입니다'.format(when))
print(f'좋은 {when} 입니다.') # 이 코드가 가장 직관적인 코드

좋은 아침 입니다
좋은 아침 입니다.
좋은 아침 입니다
좋은 아침 입니다.

In [11]:
##############
# 리스트List[] 튜플Tuple() 딕셔너리Dlct{} 셋set
##############
# 자료형/ 여러개의 값을 한번에 저장하는 자료형이 필요하다.
# 리스트 List
# 지금까지 사용한 숫자 1, 문자1 등 개별적, 독립적인 자료가 아닌
# 여러개를 모아서 사용할 수 있게 해준다.
# 리스트에 넣는 자료를 요소 element 라고 한다.
# 리스트는 []로 구성한다.
list = [1,2,3,4,5]
print(list)
#리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
list=[1,2,3,'대한','민국',True,False] #문자와 숫자를 동시에 사용하는 것은 에러의 확률이 높기에 권장하는 방법은 아니다.
print(list)
score = [80,90,70,60]
print(score[0])   #리스트는 인덱싱indexing과 슬라이싱slicing이 가능하다.
                  #파이썬은 0부터 시작한다.
print(score[0:2]) #슬라이싱은 0부터 2미만

#리스트는 수정/삭제 가 가능하다. (mutable) #튜플은 수정/삭제 가 불가능하다.(immitable)
score[0] = 100
print(score)
score[-1] = 100 # -1은 뒤에서 첫번째 라는 뜻
print(score)
# score[4] indexerror 이와같은 실수는 많이 접하게 될 에러이다.

#리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]
print ('list_a =',list_a)
print ('list_b =',list_b)
print (list_a + list_b) #이와같은 형태는 리스트간 병합을 의미한다.
print (list_a * 3) # 이와같은 형태는 해당 리스트를 곱셈으로 반복시킨다
print (len(list_a)) #리스트에 존재하는 값의 갯수를 확인하는 방법

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]
list_a = [1, 2, 3]
list_b = [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
2
[1, 2, 3]

In [15]:
# 리스트에 많이 사용되는 함수들
# append() (굉장히 많이 사용됨) 리스트레 요소를 추가할 때 사용(끝에만 추가됨)

print(score)
score.append(60) #해당값을 리스트에 추가하는 방법
print(score)
score.append(70)
print(score)

[100, 90, 70, 100, 60, 60, 70]
[100, 90, 70, 100, 60, 60, 70, 60]
[100, 90, 70, 100, 60, 60, 70, 60, 70]

In [22]:
# insert() 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하여 추가
list = []
list.insert(0,10) # ( 위치지정 : 변경 할 내용)
print(list)
list.insert(-1,50)
print(list)

[10]
[50, 10]

In [27]:
list_a = [1,2,3]
list_a.extend([4,5,6]) #한 번에 여러개의 값을 넣을 때 쓰는 방식
print(list_a) #파괴적 처리

[1, 2, 3, 4, 5, 6]

In [29]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b) #비 파괴적 처리
#이러한 방식은 결과를 보기만 할 뿐 list_a 자체가 변경 된 것은 아니다.(비 파괴적 처리)
#하지만 extend() 를 사용하면 list_a 에 직접적으로 영향을 주게된다.(파괴적처리)

#원래 자료를 사용할 때는 비 파괴적으로 사용하는 것이 바람직 하다.
#가능하면 원본 데이터를 그대로 유지하고 사용하는 것이 선택지가 더 넓다.

[1, 2, 3, 4, 5, 6]

In [44]:
#del() 리스트에서 데이터 삭제
list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
print(list_a)
del list_a[1:3] # 순번상 1 이상 3 미만 삭제명령
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]
[0, 4, 5]

In [46]:
# pop() 리스트에서 맨 오른쪽을 삭제 ** 매 실행 때 마다 값이 삭제됨
list_a.pop()
print(list_a)

[0]

In [48]:
# remove 값으로 삭제 
list_c = [1,2,1,2] # remove 는 요소의 값을 찾아 삭제한다.
                   # 동일한 값이 여러개 있을 때는 하나씩 순차적으로 삭제한다.
                   # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다.
list_c.remove(2)
print(list_c )

[1, 1, 2]

In [53]:
list = [1,2,3,4,5]
print(list[0]) #indexing 은 비 파괴적으로 동작한다.
print(list)

print(list.pop()) #pop 은 파괴적으로 동작한다. 프린트를 사용함으로 파괴되는 값이 표시됨
print(list)

1
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

In [56]:
# in / not in 리스트에 존재하는 요소인지를 확인
list = [222,434,65,123,547,876]
print(222 in list) # 존재를 하는지 확인함. 존재함으로 True 가 뜸
list = [222,434,65,123,547,876]
print(221 in list)
print(221 not in list)# 부존재를 확인함. 존재하지 않음으로 True 가 뜸

True
False
True

In [ ]:
# 딕셔너리