<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
################
# Review
################
# Collection : 많은 데이터(elements) 를 저장하고 관리한다.

# 리스트 list         튜플 tuple          딕셔너리 dict           셋 set

# []                  ()                  {}                      {}
# mutable             immutable           mutable                 mutable
# indexing/slicing    indexing/slicing    nope                    nope
#                     (1,)                {key:value}             중복데이터 미허용
#                                         JAVA의 MAP, JS의JSON 
#List
list1 = [1,2,3,4,5]
list2 = [2,3,'하나','둘',True,False]

print(list1[0])   #indexing
print(list2[2:4]) #slicing [이상:미만]

list1[0] = 9 #0번째 값을 9로 수정하라
print(list1)
print(list1*3) # 3번 반복하라

list2.append(8) #마지막에 값을 넣는다.
print(list2)

list1.insert(0,10) #특정 위치에 입력

1
['하나', '둘']
[9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 9, 2, 3, 4, 5, 9, 2, 3, 4, 5]
[2, 3, '하나', '둘', True, False, 8]

In [ ]:
# 변수는 해당 값들이 들어가 있는 위치를 가르키고 있는 이정표와 같은 것이다.
# JAVA와 다르게 상단에 위치해 있지만 동일한 취급으로 삭제처리도 함께 진행됨.
list3 = list1
print(list1)
print(list3)
print(id(list1))
print(id(list3))

del list3[0]
print(list1)
print(list3)

# 아래와 같은 방법을 사용시 별도의 ID로 변수리스트를 생성할 수 있다.
list4 = list1.copy() 
print(list1)
print(list4)
print(id(list1))
print(id(list4))

del list4[0]
print(list1)
print(list4)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
140545846771296
140545846771296
[2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4, 5]
140545846771296
140545776681040
[2, 3, 4, 5]
[3, 4, 5]

In [ ]:
# 개인 test)) 위와 다르게 같은 수라도 별도로 지정한다면 다른 ID 에 지정된 값으로 확인 가능
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]
del list2[0]
print(list1)
print(list2)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]

In [ ]:
# Tuple
t1 = ('대한','민국')
print(type(t1))

t2 = (1,)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [ ]:
# t1[0] = '만세' # tuple은 수정이 불가능하다.
print(t1[0]) # indexing 은 가능하다. 이것은 수정이 아니기 때문
#t1,pop() # 삭제도 불가능 하다.

대한

In [ ]:
# Dict
dict = {
    'key' : 'value'
}
print(dict)
print(dict['key'])

dict['newkey'] = 'ai'
print(dict)

del dict['key']
print(dict)

{'key': 'value'}
value
{'key': 'value', 'newkey': 'ai'}
{'newkey': 'ai'}

In [ ]:
# set

set = {1,1,2,2,2,3}
print(set)
# print(set[0]) 자릿값이 없기 때문에 indexing 을 사용할 수 없다

{1, 2, 3}

In [ ]:
################
# if 조건문
################
# if 조건식(True or False) :
# True 일 경우 실행
# else:
#   False일 경우 실행

if True :
  print('True')
else : #생략이 가능함.
  print('False')

if False :
  print('1st')
elif False:
  print('2st')
elif False:
  print('3st')
else :
  print('etc')

score = 80
#아래와 같은 형태로 만들 수 는 있지만 (else 안에 if문) 다만 가독성이 떨어지기 때문에 권장하는 방법은 아니다.
if score >= 100: 
  print('상')
else:
  if score >= 50:
    print('중')
  else:
    print('하')

# 위와 같은 결과를 도출 하더라도 아래와 같은 형태가 가독성이 높은 것을 확인 할 수 있다.
if score >= 100: 
  print('상')
elif score >= 50:
  print('중')
else:
  print('하')

True
etc
중
중

In [ ]:
# Q
# 0~3 -
# 4~6 0
# 7~9 +
num = (input("당신의 점수는 몇 점 입니까? : "))
num3 = int(num[1])

if int(num)>=90:
  num2 = 'A'
elif int(num)>=80 :
  num2 = 'B'
elif int(num)>=70 :
  num2 = 'C'
elif int(num)>=60 :
  num2 = 'D'
else :
  num2 = 'F'

if int(num3) >= 7:
  num3 = '+'
elif int(num3) >= 4 :
  num3 = '0'
else :
  num3 = '-'

print(f"당신의 점수는 {num}이고 학점은 {num2}{num3} 입니다.")

당신의 점수는 몇 점 입니까? : 95
당신의 점수는 95이고 학점은 A0 입니다.

In [ ]:
# 정답예시
score = int(input("점수를 입력하세요 >>>"))

if score >= 90:
  gr = "A"
elif score >= 80:
  gr = "B"
elif score >= 70:
  gr = "C"
elif score >= 60:
  gr = "D"
else:
  gr = "F"


if int(score%10) >= 7:
  de = '+'
elif int(score%10) >= 4:
  de = 'O'
else:
  de = '-'

print(f'당신의 점수는 {score}이며 학점은 {gr}{de}입니다. ')

점수를 입력하세요 >>>95
당신의 점수는 95이며 학점은 AO입니다.

In [ ]:
################
# While
################
# 반복문은 작업 수행을 한 번이 아니라 계속해서 수행해야 할 때 사용한다.
# while 반복 작업을 명 번 수행할 지 '확실하지 않을' 때 주로 사용한다.
# 예) 운동장을 해자 질때까지 반복해서 돌자

#while 조건식 :
# 실행구문
# 예시)
# while True:
#   print("운동장 돌기")

In [ ]:
n = 1
while n <= 10 :
  print(n)
  n = n+1  # 위 조건문 만족을 위해 계속해서 1씩 증가를 시킴으로 조건문상 종료지점을 완성시키는 것임
# 이하 while 다음 진행 될 코드 내용
print('-----------------------------')
print(n) #여기서 11이 나오는 이유는 while 마지막에 +1을 한번 더 하기 때문이다.

1
2
3
4
5
6
7
8
9
10
-----------------------------
11

In [ ]:
n = 1
while n <= 10 :
  print(n)
  n = n+1 # n+=1은 같은 표현이다.
print('-----------------------------')
print(n)

1
2
3
4
5
6
7
8
9
10
-----------------------------
11

In [ ]:
# 10부터 1까지 거꾸로 출력
n = 10
while n >= 1 :
  print(n)
  n -= 2

10
8
6
4
2
0

In [ ]:
# Q 입력받아 모두 리스트에 보과
#  단, 0입력시 종료
#   최종적으로는 입력된 리스트 줄력(단, 0은 리스트에 저장하지 않음)
d2 = [] # 하단의 반복문을 돌리기 위해 초기 변수를 임의 설정
d =1 # 하단의 반복문을 돌리기 위해 초기 변수를 임의 설정
while d != 0 :
  d = int(input('번호입력'))
  d2.append(d) # 이후에 if문을 사용해서 0을 제거 할 수 있다.
  
del d2[-1] # 다른 삭제 방법 d2.pop(), d2[0]
print(d2)

번호입력0
[]

In [ ]:
# while 중첩
# while 내부에 또 다른 while 을 사용하는 것을 중첩이라고 한다.
# 평균적으로 for 중첩에 비하면 사용하지 않는 편이다.
# Q 3 일 동안 1~3교시 수업을 한다. 
# 출력) 1일차 1교시 입니다.
# 1일차 2교시 입니다.
# 1일차 3교시 입니다. ..... 반복

# a = [1,2,3]
# b = 0
# i = 0
# while i < 3 :
#     b+=1
#     print(a[i],'일차',b,'교시입니다.')
#     while b == 3 :
#       i+=1
#       b-=3


# 다른방법)

day = 1
while day <= 3:
  hour = 1
  while hour <=3:
    print(f'{day}일차{hour}교시입니다.')
    hour+=1
  day+=1 #위 while 를 돈 이후에 실행되는 표시

1일차1교시입니다.
1일차2교시입니다.
1일차3교시입니다.
2일차1교시입니다.
2일차2교시입니다.
2일차3교시입니다.
3일차1교시입니다.
3일차2교시입니다.
3일차3교시입니다.

In [ ]:
# Q.구구단을 2간 부터 9단까지 출력하세요
dan=2
while dan<=9 :
  n=1
  while n<=9:
    print(f'{dan}X{n}={dan*n}')
    n +=1
  dan += 1

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [ ]:
# Q.q 정수를 입력 받아서 그 횟수 만큼 'Hello'를 출력하는 프로그램을 작성하세요
# 0 이하의 값이 입력되면 '잘못된 입력 입니다 '라고 출력하세요

# pr = int(input("정수를 입력하세요"))
# a = 0
# if pr <= 0 :
#     print("잘못된 입력입니다.")
# else :
#   while a < pr:
#     a +=1
#     print(f"{a}번째 Hello 입니다.")


# 다른 방법)
no = int(input("정수를 입력하세요"))
n=1

if no >  0:
  while no > 0 :
    print(f'{n}번째 Hello')
    n += 1
    no -= 1
else :
      print('잘못된 입력입니다.')

정수를 입력하세요3
1번째 Hello
2번째 Hello
3번째 Hello

In [ ]:
# Q 1부터 100 사이의 모든 정부중에서 7의 배수만 출력하세요
a = 7
while a <= 100 : 
  print(a)
  a +=7

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
# Q 커피 1잔을 300원에 판매하는 자판기가 있다.
# 자판기에 돈을 넣었을 때 자판기에서 뽑을 수 있는 커피가 몇 잔이고
# 잔돈이 얼마인지
# 출력예시 ) 커피 1잔 잔도 1100원 

# mmn = int(input("얼마를 넣을까요? : "))
# cf = 300
# count = 1

# while mmn < cf :
#   print(f'커피 {count}잔 잔돈 {mm}원')
#   count += 1
#   mmn -=600


a = int(input("얼마를 넣을까요? : "))
cof = 300
count = 1

while cof <= a :
  print(f'커피 {count}잔 잔돈 {a}원')
  count += 1
  a -=300

얼마를 넣을까요? : 3000
커피 1잔 잔돈 3000원
커피 2잔 잔돈 2700원
커피 3잔 잔돈 2400원
커피 4잔 잔돈 2100원
커피 5잔 잔돈 1800원
커피 6잔 잔돈 1500원
커피 7잔 잔돈 1200원
커피 8잔 잔돈 900원
커피 9잔 잔돈 600원
커피 10잔 잔돈 300원

In [ ]:
#Q
# 0~9 입력 정수 5개까지 입력 받고 중복값 무시
# 0~-9 사이 정수를 입력하세요

num = set([]) # 빈 set을 셋팅하기위한 방법

while len(num) <= 4:   # 반복문 돌리기 위해서 처음 변수값 기준을 필수로 지정할
  no = int(input("0~-9 사이 정수를 입력하세요"))
  num.add(no) #셋에 값을 넣는 방법

print(num)

0~-9 사이 정수를 입력하세요1
0~-9 사이 정수를 입력하세요2
0~-9 사이 정수를 입력하세요3
0~-9 사이 정수를 입력하세요4
0~-9 사이 정수를 입력하세요5
{1, 2, 3, 4, 5}

In [ ]:
# Q 1부터 100 사이의 정수를 모두 한줄에 10개씩 출력하시오
# 10개씩 적용 후 줄을 바꿈으로 처리 하는 것
a=1
while a <=100 :
  b = list([])
  while len(b) <= 9 :
    b.append(a)
    a +=1
    
  print(b)
# 위 처리 방식은 리스트로 작성된 것임으로 문제와 다름

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
[41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
[61, 62, 63, 64, 65, 66, 67, 68, 69, 70]
[71, 72, 73, 74, 75, 76, 77, 78, 79, 80]
[81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
# 다른방법)
n = 1
while n <= 100:
  if n%10 != 0 : # 이러한 형식을 사용한다면 10의 배수임을 할 수 있다.
    print(n, end='\t')
  else:
    print(n)
  n += 1

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [ ]:
# 또 다른 방법 while 를 두번 쓰는법
n=1
while n <= 100:
  t=0
  while t < 10:
    print(n, end='\t')
    t +=1
    n +=1
  print("") # 줄바꿈

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [ ]:
################
# for
################
# 몇 번 반복 시킬지 그 횟수가 명확할 때 주로 사용한다.

# for 변수 in 반복 값 :
#   반복실행문

for i in [1,2,3]:
  print(i)
print("----------")
for i in "Hello":
  print(i)
print("----------")
for i in (1,2,3):
  print(i)
print("----------")
# range
for i in range(1,6,2): # range(값) 해당 값 미만 까지 표기하는 것
                   # range(시작(생략가능),끝,스탭(생략가능?횟수마다생략))
  print(i)

#set, dict 는 순서와 상관업이는 사용가능

1
2
3
----------
H
e
l
l
o
----------
1
2
3
----------
1
3
5

In [ ]:
# Q.비밀번호(str)를 입력 받아서 
# 숫자와 문자가 모두 반드시 하나 이상 포함된 경우만 "사용 가능한 비번 입니다."
# 이 외 "불가능한 비번입니다."
# 지원함수
# 변수명.isalpha() - 알파벳으로만 구성이면 True
# 변수명.isnumeric() - 숫자면 True
pw = input("비밀번호를 입력하시기 바랍니다.")
ch_count =0
num_count =0
for ch in pw:
  # print(ch) 한글자씩 나왔음을 알 수 있음
  if ch.isalpha():
    # print('알파벳 입니다.') 확인용  
    ch_count +=1
  elif ch.isnumeric():
    # print('숫자입니다. 입니다.') 확인용
    num_count +=1

if ch_count > 0 and num_count > 0 : # 자바에서 사용 하는 && 은 파이썬에서 and 로 사용함
  print("사용 가능한 비번 입니다.")
else :
  print("사용 불가능한 비번 입니다.")

비밀번호를 입력하시기 바랍니다.123ㅁㄴ
사용 가능한 비번 입니다.

In [ ]:
#range([start], stop, [step]) []과 내용물은 생략 가능
# 1.숫자들은 컬렉션으로 만든다.
# 2.start 를 생략하면 0부터 시작한다.
# 3.stop 은 생략할 수 없다.
# 4.stop 을 생략하면 1씩 증가한다.
print(range(5))

range(0, 5)

In [ ]:
# Q .range와 for 문을 사용해서 구구단 출력
# 출력할 구구단을 입력하세요 : 5

g = int(input("구구단을 입력하세요 : "))

for i in range(1,10):
  print(f'{g}X{i} ={g*i}')

구구단을 입력하세요 : 3
3X1 =3
3X2 =6
3X3 =9
3X4 =12
3X5 =15
3X6 =18
3X7 =21
3X8 =24
3X9 =27

In [ ]:
# set, dict 도 for 문으로 사용은 가능하나 순서는 보장하지 않는다.

for i in {'가위','바위','보'}:
  print(i)

보
가위
바위

In [ ]:
# 무작위 출력이기에 권장하지 않는 방법
preson ={
    'name' : '에밀리',
    'age' : '20'
}

for i in preson:
  print(i)
for i in preson: # key값에 key 값을 출력하는 경우
  print(preson[i])

name
age
에밀리
20

In [ ]:
#사용자로부터 양의 정수를 하나 입력 받아서 1부터 입력 받은 정부 까지의
#모든 정수의 합계를 구하는 프로그램

num = int(input("정수를 입력하시기 바랍니다. : "))
num2 = 0
for i in range(1,num+1) :
  # print(i) 확인용
  num2 = num + i

print(f'1부터 {num}사이의 모든 정부의 합계는 {num2}')

정수를 입력하시기 바랍니다. : 5
1부터 5사이의 모든 정부의 합계는 10

In [ ]:
#Q사용자로부터 임의의 정수를 하나 입력 받아서 그 숫자 만큼의
# "과일 이름" 입력 받아서 "dasket" 리스트에 저장하는 프로그램을 작성된

# 몇 개의 과일을 보관할까요? 3
# 1번째 과일을 입력하세요 사과
# 2번째 과일을 입력하세요 바나나
# 3번째 과일을 입력하세요 체리

# 입력 받은 과일들은 [사과, 바나나, 체리] 입니다.

to = int(input("몇 개의 과일을 보관할까요?"))
ju1 = input("1 번째 과일을 입력하세요")
ju2 = input("2 번째 과일을 입력하세요")
ju3 = input("3 번째 과일을 입력하세요")

dasket = []*to
dasket.append(ju1)
dasket.append(ju2)
dasket.append(ju3)

print(f'입력 받은 과일들은 {dasket} 입니다.')

몇 개의 과일을 보관할까요?3
1 번째 과일을 입력하세요사과
2 번째 과일을 입력하세요바나나
3 번째 과일을 입력하세요체리
['사과', '바나나', '체리']

In [ ]:
# 다른방식)
no = int(input("몇 개의 과일을 보관할까요?"))
dasket = []
for i in range(1,no+1):
  fruit = input(f'{i}번 째 과일을 입력하세요')
  dasket.append(fruit)

print(f'입력 받은 과일들은 {dasket} 입니다.')

몇 개의 과일을 보관할까요?3
1번 째 과일을 입력하세요사과
2번 째 과일을 입력하세요바나나
3번 째 과일을 입력하세요체리
입력 받은 과일들은 ['사과', '바나나', '체리'] 입니다.

In [ ]:
# 참고 메모
#   if i.isupper(): 이와 같은 표기로 대문자만 해당하는 변수에서 걸러낼 수있다.
# upper 의 활용법
# 리스트 = ['dog', 'cat', 'parrot']
#  for i in 리스트:
#    print(i[0:].upper())

# split 의 기능
# split으로 지정한 값을 기준으로 코드를 분할한다.
# list 에서 사용 안됨으로 주의. 아래의 for 문을 이용하여 str 일때 split을 사용하여 처리한것임
# re = ['hello.py', 'ex01.py', 'intro.hwp']
# for i in re:
#   a = i.split(".")
#   print(a[0])

In [8]:
# Q.1부터 99사이 모든 정수를 대상으로
#369 게임의 결과를 출력하는 프로그램을 작성하세요.
#(3,6,9 중복시 짝짝, 3이 포함되면 짝 3의 배수포함 모두 짝)

a = str(0)
b = str([3,6,9])
for i in range(1,100):
   a=str(i)   
   if i%33 == 0 :     
     a = "짝짝"
   if i>10 and a[0] in b and a[-1] in b :
     a = "짝짝"
   elif a[-1] in b or a[0] in b :
     a = "짝"
   print(a, end='\t')
   if i%10 == 0 :
     print("")

1	2	짝	4	5	짝	7	8	짝	10
11	12	짝	14	15	짝	17	18	짝	20
21	22	짝	24	25	짝	27	28	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	40
41	42	짝	44	45	짝	47	48	짝	50
51	52	짝	54	55	짝	57	58	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	70
71	72	짝	74	75	짝	77	78	짝	80
81	82	짝	84	85	짝	87	88	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝