<a href="https://colab.research.google.com/github/Park5957/ai/blob/main/pandas01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pandas - 판다스는 데이터 프레임과 시리즈 라는 자료형과 데이터 분석을 위한 다양한
#          기능을 제공한다.

# 데이더 분석의 시작은 데이터 불러오기

In [3]:
import pandas as pd #판다스 가지고 오기

In [6]:
df = pd.read_csv('gapminder.tsv', sep='\t')

# 판다스로 읽어온 파일은 기본적으로 data frame 으로 가져온다.

In [8]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
df.tail() #끝에서 5개만 보기

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [14]:
type(df) #자료형확인

pandas.core.frame.DataFrame

In [16]:
df.shape #데이터 구조보기

(1704, 6)

In [18]:
df.columns # 열 즉 피처값 확인

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [20]:
df.info

<bound method DataFrame.info of           country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]>

In [23]:
# 판다스와 파이썬 자료형 비교

# 파이썬          판다스
# String          object
# int             int64
# float           float64
# datetime        datetime64

In [26]:
# 열단위 추출


country_series = df["country"] #country에 대한 열값 추출

# 1개의 열만 추출하면 시리즈를 얻게된다.
# 2개 이상의 열을 추출하게 된다면 데이터프레임으로 얻게된다.

type(country_series) #1개열만 추출함으로 Series 라는 타입으로 표기가 된다.

pandas.core.series.Series

In [31]:
subset = df[["country","continent","year"]]  #대괄호 두개 사용주의
print(subset)
print(type(subset))

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]
<class 'pandas.core.frame.DataFrame'>

In [32]:
# 행단위 추출
#loc
#iloc

In [42]:
# loc
print(df.loc[0])
# 인덱스의 첫 번째 값을 출력한다.
# 이는 df.head() 의 정보와 비교해 본다면 알 수 있다.
print("############################\n아래는 100번 째 인덱스의 값#\n############################")
print(df.loc[100])

#만일 인덱스에 벗어난 값을 지정하면 에러가 난다.

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object
############################
아래는 100번 째 인덱스의 값#
############################
country      Bangladesh
continent          Asia
year               1972
lifeExp          45.252
pop            70759295
gdpPercap    630.233627
Name: 100, dtype: object

In [60]:
# 행의 갯수확인하는 방법
# 1. len(df)
# 2. df.shape[0]
# 3. len(df.index)

# 여러개의 행에 해당하는 정보를 출력하는 방법
print(df.loc[[0,999]])

         country continent  year  lifeExp      pop    gdpPercap
0    Afghanistan      Asia  1952   28.801  8425333   779.445314
999     Mongolia      Asia  1967   51.253  1149500  1226.041130

In [64]:
# iloc 
# loc는 데이터 프레임의 인덱스 번호를 사용하려 추출
# iloc 는 데이터 순서를 의미하는 행번호를 사용한다.

print(df.iloc[0])
# 현재 확인하려는 데이터의 정보의 순번이 0번으로 지정되어있기 때문에
# 같은 결과가 나온다.
# 기억하자. iloc는 순번상 지정된 번호로 조회
# loc는 인덱스 번호로 조회 한다는 것을

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [65]:
# 여러개의 값을 확인 하는 방법도 loc와 동일하다.
print(df.iloc[[0,999]])

         country continent  year  lifeExp      pop    gdpPercap
0    Afghanistan      Asia  1952   28.801  8425333   779.445314
999     Mongolia      Asia  1967   51.253  1149500  1226.041130

In [67]:
# 슬라이싱

df.loc[:,["year","pop"]]
# 행 전체와 열은 2개 "year","pop" 만을 출력했다.

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [72]:
#행 전체와 열에서 2번재 4번째 -1(맨마지막) 정보가 출력했다.
print(df.iloc[:,[2,4,-1]])

      year       pop   gdpPercap
0     1952   8425333  779.445314
1     1957   9240934  820.853030
2     1962  10267083  853.100710
3     1967  11537966  836.197138
4     1972  13079460  739.981106
...    ...       ...         ...
1699  1987   9216418  706.157306
1700  1992  10704340  693.420786
1701  1997  11404948  792.449960
1702  2002  11926563  672.038623
1703  2007  12311143  469.709298

[1704 rows x 3 columns]

In [77]:
# range 를 사용하여 여러개의 행을 출력
print(df.iloc[:,range(0,5)])
# 또는 print(df.iloc[:,list(range(0,5))])

          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418
1700     Zimbabwe    Africa  1992   60.377  10704340
1701     Zimbabwe    Africa  1997   46.809  11404948
1702     Zimbabwe    Africa  2002   39.989  11926563
1703     Zimbabwe    Africa  2007   43.487  12311143

[1704 rows x 5 columns]